In [6]:
# %%
import pandas as pd
from jdatetime import datetime, date
from IPython.display import display

# %%
def run(path)->pd.DataFrame:
    df = pd.read_excel(path)

    df['ReserveStatus'].unique()
    
    # %%
    def convert_ReserveStatus(x):
        if(x == 'دریافت نشده' or x == 'ارسال نشده' or x == 'منقضی شده'):
            return 0
        return 1
    
    # %%
    df['ReserveStatus'] = df['ReserveStatus'].apply(convert_ReserveStatus)
    
    # %%
    df
    
    # %%
    df['ReserveStatus'].unique()
    
    # %%
    df['Reception'].unique()
    
    # %%
    def convert_Reception(x):
        if(x == 'کد فراموشی' or x == 'بارکد فراموشی'):
            return 1
        return 0
    
    # %%
    df['Reception'] = df['Reception'].apply(convert_Reception)
    
    # %%
    df['Reception'].unique()
    
    # %%
    def apply_recive_with_card(row):
        if row['Reception'] == 0 and row['ReserveStatus'] == 1:
            return 1
        return 0
    
    # %%
    df['ReceiveWithCard'] = df.apply(apply_recive_with_card,axis=1)
    
    # %%
    def apply_reciev_with_code(row):
        if row['Reception'] == 1 and row['ReserveStatus'] == 1:
            return 1
        return 0
    
    # %%
    df['ReceiveWithCode'] = df.apply(apply_reciev_with_code,axis=1)
    
    # %%
    def apply_dont_reciev(row):
        if row['ReserveStatus'] == 0:
            return 1
        return 0
    
    # %%
    df['DontReceive'] = df.apply(apply_dont_reciev,axis=1)
    
    # %%
    df.info()
    
    # %%
    df['DateReserve'] = df['DateReserve'].astype(str)
    
    # %%
    df.info()
    
    # %%
    df
    
    # %%
    result = df
    result
    
    # %%
    result = result[result['RestaurantName'].str.contains('رستوران آزاد') == False]
    result = result[result['RestaurantName'].str.contains('مهمان') == False]
    
    
    # %%
    result = result.drop(result[result['Name'] == 'سحر'].index)
    result = result.drop(result[result['Name'] == 'صبحانه'].index)
    
    # %%
    result = result.reset_index(drop=True)
    
    # %%
    result['Name'].unique()
    
    # %%
    def delete_definition(x):
        sep = '+'
        stripped = x.split(sep, 1)[0]
        return stripped
    result['FoodName'] = result['FoodName'].apply(delete_definition)
    
    # %%
    def delete_gender_from_name(x:str):
        out = x
        for i in ['خواهران', 'برادران', 'خانم', 'آقا', 'دختران', 'پسران']:
            out = out.replace(i, '')
        return out
    result['RestaurantName'] = result['RestaurantName'].apply(delete_gender_from_name)
    
    # %%
    result['RestaurantName'] = result['RestaurantName'].apply(lambda x: 'سطح شهر' if 'سطح شهر' in x else x)
    
    # %%
    def select_restaurant_type(x):
        if 'سطح شهر' in x:
            return 'khabgah'
        if 'خوابگاه' in x:
            return 'khabgah'
        return 'daneshgah'
    result['RestaurantType'] = result['RestaurantName'].apply(select_restaurant_type)
    
    # %%
    result['RestaurantName'].unique()
    
    # %%
    def remove_restaurant_type(x):
        for i in ['خوابگاه', 'دانشکده', 'پردیس', 'سلف']:
            x = x.replace(i, '')
        return x
    result['RestaurantName'] = result['RestaurantName'].apply(remove_restaurant_type)
    
    # %%
    def fix_campus_name(x):
        if 'کاسپین' in x:
            return 'کاسپین'
        elif 'فارابی' in x:
            return 'فارابی'
        elif 'ابوریحان' in x:
            return 'ابوریحان'
        elif 'کشاورزی' in x:
            return 'کشاورزی'
        elif 'فومن' in x:
            return 'فومن'
        return x
    result['RestaurantName'] = result['RestaurantName'].apply(fix_campus_name)
    
    # %%
    def fix_restaurant_name(x):
        for i in ['دکترا', 'کارکنان']:
            x = x.replace(i, '')
        for i in ['فنی1', 'فنی2']:
            x = x.replace(i, 'فنی ')
        x = x.replace('-', '')
        x = x.replace('فنیامیرآباد', 'فنی امیرآباد')
        x = x.strip()
        return x
    result['RestaurantName'] = result['RestaurantName'].apply(fix_restaurant_name)
    
    # %%
    result 
    
    # %%
    result[result['RestaurantName'] == result['RestaurantName'].unique()[0]]
    
    # %%
    for i in result['FoodName'].unique():
        print(i)
    
    # %%
    def total_nember(row):
        return row['ReceiveWithCard']+row['ReceiveWithCode'] + row['DontReceive']
    result['Reservation'] = result.apply(total_nember,axis=1)
    
    # %%
    result
    
    # %%
    def delete_definition(x):
        sep = '('
        stripped = x.split(sep, 1)[0]
        return stripped
    result['FoodName'] = result['FoodName'].apply(delete_definition)
    
    # %%
    result['FoodName'].nunique()
    
    # %%
    result.reset_index(drop=True)
    
    # %%
    result['FoodName'].unique()
    
    # %%
    result = result[result['FoodName'] != 'خرید از بوفه روزانه']
    result = result[result['FoodName'] != 'خرید از بوفه هفتگی ']
    result = result[result['FoodName'].str.contains('بسته ارزاق') == False]
    result = result.reset_index(drop = True)
    result['FoodName'].unique()
    
    # %%
    def select_name(x):
        if x == 'شوید باقلاباگوشت':
            return 'چلو شوید باقلاباگوشت'
        elif x == 'استانبولی با گوشت':
            return 'استانبولی پلو با گوشت'
        elif 'نودالیت' in x:
            return 'خوراک نودلیت'
        elif 'دمی' in x:
            return 'پلو' + x
        elif 'کتلت' in x:
            return 'خوراک کتلت'
        elif 'دلمه' in x:
            return 'خوراک دلمه'
        elif 'خوراك' in x:
            return x.replace('خوراك','خوراک')
        elif 'کنسرو تن ماهی' in x:
            return 'خوراک کنسرو تن ماهی'
        elif 'هواری مرغ' in x:
            return 'خوراک هواری مرغ'
        else:
            return x
    result['FoodName'] = result['FoodName'].apply(select_name)
    
    # %%
    def select_type(x):
        if 'چلو' in x:
            return "berenji"
        elif 'پلو' in x:
            return "berenji"
        elif 'خوراک' in  x:
            return "khorak"
        elif 'ساندویچ' in  x:
            return "khorak"
    
    # %%
    result['FoodType'] = result['FoodName'].apply(select_type)
    result['FoodType'].unique()
    
    # %%
    result
    
    # %%
    def delete__x000D(x):
        return x.replace("_x000D_\n","")
    result['Gender']=result['Gender'].apply(delete__x000D)
    
    # %%
    def convert_gender(x):
        if x == 'زن':
            return 'woman'
        return 'man'
    result['Gender'] = result['Gender'].apply(convert_gender)
    
    # %%
    def fix_meal(x):
        if 'صبحانه' in x:
            return 'breakfast'
        elif 'ناهار' in x:
            return 'lunch'
        elif 'شام' in x:
            return 'dinner'
        return x
    result['Meal'] = result['Name'].apply(fix_meal)
    result.drop('Name',axis=1,inplace=True)
    
    # %%
    result
    
    # %%
    grouped = result.groupby(['DateReserve','RestaurantName','RestaurantType','Meal','FoodName','FoodType','Gender'])
    result = grouped.agg({
        'ReceiveWithCard': 'sum',
        'ReceiveWithCode': 'sum',
        'DontReceive': 'sum',
        'Reservation': 'sum'
    }).reset_index()
    result
    
    # %%
    result = result[result['Reservation']> 3]
    result = result.reset_index(drop=True)
    
    # %%
    from persiantools.jdatetime import JalaliDate
    def convert_date_to_weekday(d):
        '''
        d: str, date in format 'yyyy/mm/dd'
        return: int, weekday of the date in range [0, 6]
        '''
        return JalaliDate(*map(int, d.split('/'))).weekday()
    convert_date_to_weekday(result['DateReserve'].iloc[0])
    result['DayOfWeek'] = result['DateReserve'].map(convert_date_to_weekday)
    
    # %%
    result
    
    # %%
    def str_to_date(d, gregorian:bool=False) -> JalaliDate:
        out = JalaliDate(*map(int, d.split('/')))
        if gregorian:
            return out.to_gregorian()
        return out
    
    date_map_gregorian = {i: str_to_date(i,True) for i in df['DateReserve'].unique()}
    result['DateReserveGregorian'] = result['DateReserve'].map(date_map_gregorian)
    
    date_map_jalali = {i: str_to_date(i) for i in df['DateReserve'].unique()}
    result['DateReserve'] = result['DateReserve'].map(date_map_jalali)
    
    result.info()
    
    # %%
    result
    
    # %%
    result['RestaurantName']
    
    # %%
    from bs4 import BeautifulSoup
    from holiday import Holiday, HolidayCalculator
    holidays = []
    for i in [1401,1402,1403]:
        with open(f"date/date_{i}.html", 'r') as file:
            file_content = file.read()
            soup = BeautifulSoup(file_content, 'html.parser')
            h = Holiday(soup)
            holidays_year = h.get_holidays(add_noroze=True, add_thursday=True)
            holidays.extend(holidays_year)
    holidays
    
    # %%
    result['DateReserve'].unique()
    
    # %%
    n = 2
    h_map = dict()
    for day in result['DateReserve'].unique():
        calculator = HolidayCalculator(holidays, day, have_weekend=False)
        h_map[day] = {
            'HolidayInWeekCount': calculator.get_holidays_this_week(True),
            'HolidayInPrevWeekCount': calculator.get_holidays_this_week(True,'Prev'),
            'HolidayInNextWeekCount': calculator.get_holidays_this_week(True,'Next'),
            # 'HolidayInWeek': calculator.get_holidays_this_week(),
            'NextHoliday': calculator.get_n_next_holiday(n),
            'PreviousHoliday': calculator.get_n_previous_holiday(n)
        }
    
    for i in h_map[result['DateReserve'][0]].keys():
        if i in ['PreviousHoliday', 'NextHoliday']:
            for j in range(n):
                result[f'{i}_{j+1}'] = result['DateReserve'].map(lambda d: h_map[d][i][j])
        else:
            result[i] = result['DateReserve'].map(lambda d: h_map[d][i])
    
    result = result[[col for col in result if col != 'DateReserveGregorian'] + ['DateReserveGregorian']]
    

    display(pd.DataFrame(h_map).T)
    display(result)
    return result

import os

result = list()
for file_name in os.listdir('./data'):
    if file_name.endswith('.xlsx'):
        tmp = run('./data/' + file_name)
        print(tmp['DateReserve'].iloc[0])
        result.append(tmp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437470 entries, 0 to 437469
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          437470 non-null  int64
 1   Reserveid         437470 non-null  int64
 2   Gender            437470 non-null  object
 3   Price             437470 non-null  int64
 4   DateReserve       437470 non-null  object
 5   Name              437470 non-null  object
 6   FoodName          437470 non-null  object
 7   Count             437470 non-null  int64
 8   ReserveStatus     437470 non-null  int64
 9   CollegeName       437470 non-null  object
 10  CollegeCode       437447 non-null  float64
 11  FieldCode         437470 non-null  int64
 12  FieldName         437470 non-null  object
 13  DegreeCode        437470 non-null  int64
 14  DegreeName        437470 non-null  object
 15  RestaurantName    437470 non-null  object
 16  GroupName         437470 non-null  object
 17  EducationSession  437470 non-null  object
 18  PersonType        437470 non-null  object
 19  Comment           437470 non-null  object
 20  Reception         437470 non-null  int64
 21  ReceptionType     437470 non-null  int64
 22  ReceiveWithCard   437470 non-null  int64
 23  ReceiveWithCode   437470 non-null  int64
 24  DontReceive       437470 non-null  int64
dtypes: float64(1), int64(12), object(12)
memory usage: 83.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437470 entries, 0 to 437469
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          437470 non-null  int64
 1   Reserveid         437470 non-null  int64
 2   Gender            437470 non-null  object
 3   Price             437470 non-null  int64
 4   DateReserve       437470 non-null  object
 5   Name              437470 non-null  object
 6   FoodName          437470 non-null  object
 7   Count             437470 non-null  int64
 8   ReserveStatus     437470 non-null  int64
 9   CollegeName       437470 non-null  object
 10  CollegeCode       437447 non-null  float64
 11  FieldCode         437470 non-null  int64
 12  FieldName         437470 non-null  object
 13  DegreeCode        437470 non-null  int64
 14  DegreeName        437470 non-null  object
 15  RestaurantName    437470 non-null  object
 16  GroupName         437470 non-null  object
 17  EducationSession  437470 non-null  object
 18  PersonType        437470 non-null  object
 19  Comment           437470 non-null  object
 20  Reception         437470 non-null  int64
 21  ReceptionType     437470 non-null  int64
 22  ReceiveWithCard   437470 non-null  int64
 23  ReceiveWithCode   437470 non-null  int64
 24  DontReceive       437470 non-null  int64
dtypes: float64(1), int64(12), object(12)
memory usage: 83.4+ MB
چلو خورش قورمه سبزی
سبزی پلو ماهی
چلوكباب كوبیده
خوراک فلافل
چلومرغ مخلوط
خرید از بوفه روزانه
زرشك پلوبامرغ
چلو خورش مسما بادمجان با مرغ
استانبولی با گوشت
خوراک سالاد الویه
نودالیت 2بسته (طبخ نشده -پخت توسط دانشجو)
خوراک سوفله بادمجان
ساندویچ مرغ و قارچ
خرید از بوفه هفتگی (5 روز)
خوراک شنیسل مرغ
شوید باقلاباگوشت
خوراک كتلت
چلو خورش قیمه سیب زمینی
لوبیا پلو باگوشت
چلوجوجه كباب
خوراک مرغ سوخاری
خوراک كشك بادمجان
سبزی پلو با تن ماهی
خوراک ماكارونی با قارچ
خوراک كوفته تبریزی
خوراک چیكن استروگانوف
چلوكباب تابه اي
عدس پلو با گوشت و كشمش
سبزی پلوباگوشت
خوراک ناگت مرغ
ساندویچ فلافل
خوراک جوجه چینی
خوراک کوکو سبزی
چلو خورش قیمه كدو
ساندویچ همبرگر
خوراک سالاد ماكاروني
خوراک سیب زمینی و تخم مرغ
باقلاپلو با گوشت
خوراک کوردن بلو
چلو خورش كرفس
چلو خورش فسنجان(مرغ)
خوراک دلمه فلفل
باقلاپلو با مرغ
خوراک آبگوشت
خوراک گراتن با سبزیجات
چلو خورش لوبياسبز
چلو خورش آلواسفناج
خوراک بیف استروگانوف
استانبولی پلو با مرغ
 سبزی پلو با تن ماهی
خوراک میرزاقاسمی
خوراک نخود فرنگی با مرغ
رشته پلو با گوشت
خوراک لوبیا چیتی با قارچ
چلوكباب كوبیده نگيني
چلو خورش قیمه بادمجان
 چلوجوجه كباب
خوراک میرزاقاسمی
خوراک بادمجان(یتیمچه)
دمی لوبیا چشم بلبلی با گوشت
چلوكوبيده مرغ(1 سيخ)
خوراک کوکو سیب زمینی
خوراك مرغ سوخاری
سبزی پلو با ماهی قزل آلا
رشته پلو با ران مرغ
خوراک قارچ و گوشت
چلو خورش قیمه نثار
چلو خورش قیمه آلو
لوبیا پلو با مرغ
آش
خوراک مرغ و قارچ
چلومرغ
سبزی پلو با ماهی فیله
خوراک دلمه بادمجان
خوراک واویشکا
خوراک كباب كوبیده
2 خوراک چیكن استروگانوف
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2758 entries, 0 to 2757
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           2758 non-null   object
 1   RestaurantName        2758 non-null   object
 2   RestaurantType        2758 non-null   object
 3   Meal                  2758 non-null   object
 4   FoodName              2758 non-null   object
 5   FoodType              2758 non-null   object
 6   Gender                2758 non-null   object
 7   ReceiveWithCard       2758 non-null   int64
 8   ReceiveWithCode       2758 non-null   int64
 9   DontReceive           2758 non-null   int64
 10  Reservation           2758 non-null   int64
 11  DayOfWeek             2758 non-null   int64
 12  DateReserveGregorian  2758 non-null   object
dtypes: int64(5), object(8)
memory usage: 280.2+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1402-10-10,0,0,0,"[42, 56]","[14, 89]"
1402-10-11,0,0,0,"[41, 55]","[15, 90]"
1402-10-12,0,0,0,"[40, 54]","[16, 91]"
1402-10-13,0,0,0,"[39, 53]","[17, 92]"
1402-10-14,0,0,0,"[38, 52]","[18, 93]"
1402-10-16,0,0,0,"[36, 50]","[20, 95]"
1402-10-17,0,0,0,"[35, 49]","[21, 96]"
1402-10-18,0,0,0,"[34, 48]","[22, 97]"
1402-10-19,0,0,0,"[33, 47]","[23, 98]"
1402-10-02,0,1,0,"[50, 64]","[6, 81]"
1402-10-20,0,0,0,"[32, 46]","[24, 99]"
1402-10-21,0,0,0,"[31, 45]","[25, 100]"
1402-10-23,0,0,0,"[29, 43]","[27, 102]"
1402-10-24,0,0,0,"[28, 42]","[28, 103]"
1402-10-25,0,0,0,"[27, 41]","[29, 104]"
1402-10-26,0,0,0,"[26, 40]","[30, 105]"
1402-10-27,0,0,0,"[25, 39]","[31, 106]"
1402-10-28,0,0,0,"[24, 38]","[32, 107]"
1402-10-29,0,0,0,"[23, 37]","[33, 108]"
1402-10-03,0,1,0,"[49, 63]","[7, 82]"
1402-10-30,0,0,0,"[22, 36]","[34, 109]"
1402-10-04,0,1,0,"[48, 62]","[8, 83]"
1402-10-05,0,1,0,"[47, 61]","[9, 84]"
1402-10-06,0,1,0,"[46, 60]","[10, 85]"
1402-10-07,0,1,0,"[45, 59]","[11, 86]"
1402-10-09,0,0,0,"[43, 57]","[13, 88]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1402-10-10,ابوریحان,daneshgah,dinner,خوراک نودلیت,khorak,man,14,0,0,14,1,0,0,0,42,56,14,89,2023-12-31
1,1402-10-10,ابوریحان,daneshgah,dinner,خوراک نودلیت,khorak,woman,30,3,3,36,1,0,0,0,42,56,14,89,2023-12-31
2,1402-10-10,ابوریحان,daneshgah,dinner,چلوكباب كوبیده,berenji,man,139,0,0,139,1,0,0,0,42,56,14,89,2023-12-31
3,1402-10-10,ابوریحان,daneshgah,dinner,چلوكباب كوبیده,berenji,woman,68,17,4,89,1,0,0,0,42,56,14,89,2023-12-31
4,1402-10-10,ابوریحان,daneshgah,lunch,خوراک فلافل,khorak,man,46,0,0,46,1,0,0,0,42,56,14,89,2023-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753,1402-10-09,کشاورزی,khabgah,dinner,خوراک ناگت مرغ,khorak,woman,55,6,5,66,0,0,0,0,43,57,13,88,2023-12-30
2754,1402-10-09,کوی,khabgah,dinner,خوراک ماكارونی با قارچ,khorak,man,557,27,32,616,0,0,0,0,43,57,13,88,2023-12-30
2755,1402-10-09,کوی,khabgah,dinner,خوراک مرغ سوخاری,khorak,man,626,36,40,702,0,0,0,0,43,57,13,88,2023-12-30
2756,1402-10-09,کوی,khabgah,lunch,خوراک کوکو سیب زمینی,khorak,man,214,9,18,241,0,0,0,0,43,57,13,88,2023-12-30
2757,1402-10-09,کوی,khabgah,lunch,چلو خورش مسما بادمجان با مرغ,berenji,man,521,50,42,613,0,0,0,0,43,57,13,88,2023-12-30

1402-10-10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437470 entries, 0 to 437469
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          437470 non-null  int64
 1   Reserveid         437470 non-null  int64
 2   Gender            437470 non-null  object
 3   Price             437470 non-null  int64
 4   DateReserve       437470 non-null  object
 5   Name              437470 non-null  object
 6   FoodName          437470 non-null  object
 7   Count             437470 non-null  int64
 8   ReserveStatus     437470 non-null  int64
 9   CollegeName       437470 non-null  object
 10  CollegeCode       437447 non-null  float64
 11  FieldCode         437470 non-null  int64
 12  FieldName         437470 non-null  object
 13  DegreeCode        437470 non-null  int64
 14  DegreeName        437470 non-null  object
 15  RestaurantName    437470 non-null  object
 16  GroupName         437470 non-null  object
 17  EducationSession  437470 non-null  object
 18  PersonType        437470 non-null  object
 19  Comment           437470 non-null  object
 20  Reception         437470 non-null  int64
 21  ReceptionType     437470 non-null  int64
 22  ReceiveWithCard   437470 non-null  int64
 23  ReceiveWithCode   437470 non-null  int64
 24  DontReceive       437470 non-null  int64
dtypes: float64(1), int64(12), object(12)
memory usage: 83.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437470 entries, 0 to 437469
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          437470 non-null  int64
 1   Reserveid         437470 non-null  int64
 2   Gender            437470 non-null  object
 3   Price             437470 non-null  int64
 4   DateReserve       437470 non-null  object
 5   Name              437470 non-null  object
 6   FoodName          437470 non-null  object
 7   Count             437470 non-null  int64
 8   ReserveStatus     437470 non-null  int64
 9   CollegeName       437470 non-null  object
 10  CollegeCode       437447 non-null  float64
 11  FieldCode         437470 non-null  int64
 12  FieldName         437470 non-null  object
 13  DegreeCode        437470 non-null  int64
 14  DegreeName        437470 non-null  object
 15  RestaurantName    437470 non-null  object
 16  GroupName         437470 non-null  object
 17  EducationSession  437470 non-null  object
 18  PersonType        437470 non-null  object
 19  Comment           437470 non-null  object
 20  Reception         437470 non-null  int64
 21  ReceptionType     437470 non-null  int64
 22  ReceiveWithCard   437470 non-null  int64
 23  ReceiveWithCode   437470 non-null  int64
 24  DontReceive       437470 non-null  int64
dtypes: float64(1), int64(12), object(12)
memory usage: 83.4+ MB
چلو خورش قورمه سبزی
سبزی پلو ماهی
چلوكباب كوبیده
خوراک فلافل
چلومرغ مخلوط
خرید از بوفه روزانه
زرشك پلوبامرغ
چلو خورش مسما بادمجان با مرغ
استانبولی با گوشت
خوراک سالاد الویه
نودالیت 2بسته (طبخ نشده -پخت توسط دانشجو)
خوراک سوفله بادمجان
ساندویچ مرغ و قارچ
خرید از بوفه هفتگی (5 روز)
خوراک شنیسل مرغ
شوید باقلاباگوشت
خوراک كتلت
چلو خورش قیمه سیب زمینی
لوبیا پلو باگوشت
چلوجوجه كباب
خوراک مرغ سوخاری
خوراک كشك بادمجان
سبزی پلو با تن ماهی
خوراک ماكارونی با قارچ
خوراک كوفته تبریزی
خوراک چیكن استروگانوف
چلوكباب تابه اي
عدس پلو با گوشت و كشمش
سبزی پلوباگوشت
خوراک ناگت مرغ
ساندویچ فلافل
خوراک جوجه چینی
خوراک کوکو سبزی
چلو خورش قیمه كدو
ساندویچ همبرگر
خوراک سالاد ماكاروني
خوراک سیب زمینی و تخم مرغ
باقلاپلو با گوشت
خوراک کوردن بلو
چلو خورش كرفس
چلو خورش فسنجان(مرغ)
خوراک دلمه فلفل
باقلاپلو با مرغ
خوراک آبگوشت
خوراک گراتن با سبزیجات
چلو خورش لوبياسبز
چلو خورش آلواسفناج
خوراک بیف استروگانوف
استانبولی پلو با مرغ
 سبزی پلو با تن ماهی
خوراک میرزاقاسمی
خوراک نخود فرنگی با مرغ
رشته پلو با گوشت
خوراک لوبیا چیتی با قارچ
چلوكباب كوبیده نگيني
چلو خورش قیمه بادمجان
 چلوجوجه كباب
خوراک میرزاقاسمی
خوراک بادمجان(یتیمچه)
دمی لوبیا چشم بلبلی با گوشت
چلوكوبيده مرغ(1 سيخ)
خوراک کوکو سیب زمینی
خوراك مرغ سوخاری
سبزی پلو با ماهی قزل آلا
رشته پلو با ران مرغ
خوراک قارچ و گوشت
چلو خورش قیمه نثار
چلو خورش قیمه آلو
لوبیا پلو با مرغ
آش
خوراک مرغ و قارچ
چلومرغ
سبزی پلو با ماهی فیله
خوراک دلمه بادمجان
خوراک واویشکا
خوراک كباب كوبیده
2 خوراک چیكن استروگانوف
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2758 entries, 0 to 2757
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           2758 non-null   object
 1   RestaurantName        2758 non-null   object
 2   RestaurantType        2758 non-null   object
 3   Meal                  2758 non-null   object
 4   FoodName              2758 non-null   object
 5   FoodType              2758 non-null   object
 6   Gender                2758 non-null   object
 7   ReceiveWithCard       2758 non-null   int64
 8   ReceiveWithCode       2758 non-null   int64
 9   DontReceive           2758 non-null   int64
 10  Reservation           2758 non-null   int64
 11  DayOfWeek             2758 non-null   int64
 12  DateReserveGregorian  2758 non-null   object
dtypes: int64(5), object(8)
memory usage: 280.2+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1402-10-10,0,0,0,"[42, 56]","[14, 89]"
1402-10-11,0,0,0,"[41, 55]","[15, 90]"
1402-10-12,0,0,0,"[40, 54]","[16, 91]"
1402-10-13,0,0,0,"[39, 53]","[17, 92]"
1402-10-14,0,0,0,"[38, 52]","[18, 93]"
1402-10-16,0,0,0,"[36, 50]","[20, 95]"
1402-10-17,0,0,0,"[35, 49]","[21, 96]"
1402-10-18,0,0,0,"[34, 48]","[22, 97]"
1402-10-19,0,0,0,"[33, 47]","[23, 98]"
1402-10-02,0,1,0,"[50, 64]","[6, 81]"
1402-10-20,0,0,0,"[32, 46]","[24, 99]"
1402-10-21,0,0,0,"[31, 45]","[25, 100]"
1402-10-23,0,0,0,"[29, 43]","[27, 102]"
1402-10-24,0,0,0,"[28, 42]","[28, 103]"
1402-10-25,0,0,0,"[27, 41]","[29, 104]"
1402-10-26,0,0,0,"[26, 40]","[30, 105]"
1402-10-27,0,0,0,"[25, 39]","[31, 106]"
1402-10-28,0,0,0,"[24, 38]","[32, 107]"
1402-10-29,0,0,0,"[23, 37]","[33, 108]"
1402-10-03,0,1,0,"[49, 63]","[7, 82]"
1402-10-30,0,0,0,"[22, 36]","[34, 109]"
1402-10-04,0,1,0,"[48, 62]","[8, 83]"
1402-10-05,0,1,0,"[47, 61]","[9, 84]"
1402-10-06,0,1,0,"[46, 60]","[10, 85]"
1402-10-07,0,1,0,"[45, 59]","[11, 86]"
1402-10-09,0,0,0,"[43, 57]","[13, 88]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1402-10-10,ابوریحان,daneshgah,dinner,خوراک نودلیت,khorak,man,14,0,0,14,1,0,0,0,42,56,14,89,2023-12-31
1,1402-10-10,ابوریحان,daneshgah,dinner,خوراک نودلیت,khorak,woman,30,3,3,36,1,0,0,0,42,56,14,89,2023-12-31
2,1402-10-10,ابوریحان,daneshgah,dinner,چلوكباب كوبیده,berenji,man,139,0,0,139,1,0,0,0,42,56,14,89,2023-12-31
3,1402-10-10,ابوریحان,daneshgah,dinner,چلوكباب كوبیده,berenji,woman,68,17,4,89,1,0,0,0,42,56,14,89,2023-12-31
4,1402-10-10,ابوریحان,daneshgah,lunch,خوراک فلافل,khorak,man,46,0,0,46,1,0,0,0,42,56,14,89,2023-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753,1402-10-09,کشاورزی,khabgah,dinner,خوراک ناگت مرغ,khorak,woman,55,6,5,66,0,0,0,0,43,57,13,88,2023-12-30
2754,1402-10-09,کوی,khabgah,dinner,خوراک ماكارونی با قارچ,khorak,man,557,27,32,616,0,0,0,0,43,57,13,88,2023-12-30
2755,1402-10-09,کوی,khabgah,dinner,خوراک مرغ سوخاری,khorak,man,626,36,40,702,0,0,0,0,43,57,13,88,2023-12-30
2756,1402-10-09,کوی,khabgah,lunch,خوراک کوکو سیب زمینی,khorak,man,214,9,18,241,0,0,0,0,43,57,13,88,2023-12-30
2757,1402-10-09,کوی,khabgah,lunch,چلو خورش مسما بادمجان با مرغ,berenji,man,521,50,42,613,0,0,0,0,43,57,13,88,2023-12-30

1402-10-10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299113 entries, 0 to 299112
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          299113 non-null  int64
 1   Reserveid         299113 non-null  int64
 2   Gender            299113 non-null  object
 3   Price             299113 non-null  int64
 4   DateReserve       299113 non-null  object
 5   Name              299113 non-null  object
 6   FoodName          299113 non-null  object
 7   Count             299113 non-null  int64
 8   ReserveStatus     299113 non-null  int64
 9   CollegeName       299113 non-null  object
 10  CollegeCode       299101 non-null  float64
 11  FieldCode         299113 non-null  int64
 12  FieldName         299113 non-null  object
 13  DegreeCode        299113 non-null  int64
 14  DegreeName        299113 non-null  object
 15  RestaurantName    299113 non-null  object
 16  GroupName         299113 non-null  object
 17  EducationSession  299113 non-null  object
 18  PersonType        299113 non-null  object
 19  Comment           299113 non-null  object
 20  Reception         299113 non-null  int64
 21  ReceptionType     299113 non-null  int64
 22  ReceiveWithCard   299113 non-null  int64
 23  ReceiveWithCode   299113 non-null  int64
 24  DontReceive       299113 non-null  int64
dtypes: float64(1), int64(12), object(12)
memory usage: 57.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299113 entries, 0 to 299112
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          299113 non-null  int64
 1   Reserveid         299113 non-null  int64
 2   Gender            299113 non-null  object
 3   Price             299113 non-null  int64
 4   DateReserve       299113 non-null  object
 5   Name              299113 non-null  object
 6   FoodName          299113 non-null  object
 7   Count             299113 non-null  int64
 8   ReserveStatus     299113 non-null  int64
 9   CollegeName       299113 non-null  object
 10  CollegeCode       299101 non-null  float64
 11  FieldCode         299113 non-null  int64
 12  FieldName         299113 non-null  object
 13  DegreeCode        299113 non-null  int64
 14  DegreeName        299113 non-null  object
 15  RestaurantName    299113 non-null  object
 16  GroupName         299113 non-null  object
 17  EducationSession  299113 non-null  object
 18  PersonType        299113 non-null  object
 19  Comment           299113 non-null  object
 20  Reception         299113 non-null  int64
 21  ReceptionType     299113 non-null  int64
 22  ReceiveWithCard   299113 non-null  int64
 23  ReceiveWithCode   299113 non-null  int64
 24  DontReceive       299113 non-null  int64
dtypes: float64(1), int64(12), object(12)
memory usage: 57.1+ MB
چلوكباب كوبیده
سبزی پلو با تن ماهی
خوراک سوفله بادمجان
چلو خورش قیمه سیب زمینی
خوراک ناگت مرغ
استانبولی با گوشت
خوراک آبگوشت
ساندویچ همبرگر
چلو خورش مسما بادمجان با مرغ
خوراک کوکو سیب زمینی
چلو خورش لوبياسبز
خرید از بوفه روزانه
خرید از بوفه هفتگی (5 روز)
چلوجوجه كباب
عدس پلو با گوشت و كشمش
خوراک قارچ و گوشت
 سبزی پلو با تن ماهی
چلو خورش قیمه بادمجان
خوراک نخود فرنگی با مرغ
باقلاپلو با گوشت
خوراک مرغ سوخاری
چلومرغ مخلوط
سبزی پلو با ماهی قزل آلا
خوراک فلافل
خوراک كوفته تبریزی
خوراک شنیسل مرغ
چلو خورش قورمه سبزی
خوراک ماكارونی با قارچ
چلو خورش كرفس
چلوكباب كوبیده نگيني
خوراک سالاد الویه
ساندویچ فلافل
باقلاپلو با مرغ
لوبیا پلو با گوشت
لوبیا پلو باگوشت
خوراک سالاد ماكاروني
خوراک كشك بادمجان
استانبولی پلو با گوشت
چلوكوبيده مرغ(1 سيخ)
سبزی پلوباگوشت
زرشك پلوبامرغ
خوراک شنیسل مرغ
خوراک جوجه چینی
خوراک چیكن استروگانوف
خوراک مرغ و قارچ
لوبیا پلو با مرغ
خوراک کوکو سبزی
خوراک کوردن بلو
چلو خورش فسنجان(مرغ)
دمی لوبیا چشم بلبلی با گوشت
خوراک كتلت
خوراک سیب زمینی و تخم مرغ
خوراک بادمجان(یتیمچه)
سبزی پلو ماهی
خوراک دلمه فلفل
چلوتن ماهی
ساندویچ مرغ و قارچ
چلو خورش آلواسفناج
خوراک واویشکا
خوراک میرزاقاسمی
نودالیت 2عدد (طبخ نشده -پخت توسط دانشجو)
 خوراک بادمجان(یتیمچه)
خوراک گراتن با سبزیجات
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2026 entries, 0 to 2025
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           2026 non-null   object
 1   RestaurantName        2026 non-null   object
 2   RestaurantType        2026 non-null   object
 3   Meal                  2026 non-null   object
 4   FoodName              2026 non-null   object
 5   FoodType              2026 non-null   object
 6   Gender                2026 non-null   object
 7   ReceiveWithCard       2026 non-null   int64
 8   ReceiveWithCode       2026 non-null   int64
 9   DontReceive           2026 non-null   int64
 10  Reservation           2026 non-null   int64
 11  DayOfWeek             2026 non-null   int64
 12  DateReserveGregorian  2026 non-null   object
dtypes: int64(5), object(8)
memory usage: 205.9+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1402-11-01,0,0,0,"[21, 35]","[35, 110]"
1402-11-10,0,0,0,"[12, 26]","[44, 119]"
1402-11-11,0,0,0,"[11, 25]","[45, 120]"
1402-11-12,0,0,0,"[10, 24]","[46, 121]"
1402-11-13,0,0,0,"[9, 23]","[47, 122]"
1402-11-14,0,0,1,"[8, 22]","[48, 123]"
1402-11-02,0,0,0,"[20, 34]","[36, 111]"
1402-11-21,1,0,0,"[1, 15]","[55, 130]"
1402-11-23,1,0,0,"[13, 36]","[1, 57]"
1402-11-24,1,0,0,"[12, 35]","[2, 58]"
1402-11-25,1,0,0,"[11, 34]","[3, 59]"
1402-11-26,1,0,0,"[10, 33]","[4, 60]"
1402-11-28,0,1,1,"[8, 31]","[6, 62]"
1402-11-29,0,1,1,"[7, 30]","[7, 63]"
1402-11-03,0,0,0,"[19, 33]","[37, 112]"
1402-11-30,0,1,1,"[6, 29]","[8, 64]"
1402-11-04,0,0,0,"[18, 32]","[38, 113]"
1402-11-05,0,0,0,"[17, 31]","[39, 114]"
1402-11-06,0,0,0,"[16, 30]","[40, 115]"
1402-11-07,0,0,0,"[15, 29]","[41, 116]"
1402-11-08,0,0,0,"[14, 28]","[42, 117]"
1402-11-09,0,0,0,"[13, 27]","[43, 118]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1402-11-01,ابوریحان,daneshgah,dinner,خوراک کوکو سیب زمینی,khorak,man,14,0,0,14,1,0,0,0,21,35,35,110,2024-01-21
1,1402-11-01,ابوریحان,daneshgah,dinner,خوراک کوکو سیب زمینی,khorak,woman,25,2,0,27,1,0,0,0,21,35,35,110,2024-01-21
2,1402-11-01,ابوریحان,daneshgah,dinner,سبزی پلو با تن ماهی,berenji,man,119,5,2,126,1,0,0,0,21,35,35,110,2024-01-21
3,1402-11-01,ابوریحان,daneshgah,dinner,سبزی پلو با تن ماهی,berenji,woman,96,11,3,110,1,0,0,0,21,35,35,110,2024-01-21
4,1402-11-01,ابوریحان,daneshgah,lunch,خوراک آبگوشت,khorak,man,18,1,0,19,1,0,0,0,21,35,35,110,2024-01-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,1402-11-09,کشاورزی,khabgah,dinner,خوراک گراتن با سبزیجات,khorak,woman,153,15,11,179,2,0,0,0,13,27,43,118,2024-01-29
2022,1402-11-09,کوی,khabgah,dinner,خوراک کوردن بلو,khorak,man,453,26,36,515,2,0,0,0,13,27,43,118,2024-01-29
2023,1402-11-09,کوی,khabgah,dinner,سبزی پلو با ماهی قزل آلا,berenji,man,880,36,49,965,2,0,0,0,13,27,43,118,2024-01-29
2024,1402-11-09,کوی,khabgah,lunch,خوراک شنیسل مرغ,khorak,man,682,37,54,773,2,0,0,0,13,27,43,118,2024-01-29
2025,1402-11-09,کوی,khabgah,lunch,چلو خورش قورمه سبزی,berenji,man,606,32,51,689,2,0,0,0,13,27,43,118,2024-01-29

1402-11-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167061 entries, 0 to 167060
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          167061 non-null  int64
 1   Reserveid         167061 non-null  int64
 2   Gender            167061 non-null  object
 3   Price             167061 non-null  int64
 4   DateReserve       167061 non-null  object
 5   Name              167061 non-null  object
 6   FoodName          167061 non-null  object
 7   Count             167061 non-null  int64
 8   ReserveStatus     167061 non-null  int64
 9   CollegeName       167061 non-null  object
 10  CollegeCode       167057 non-null  float64
 11  FieldCode         167061 non-null  int64
 12  FieldName         167061 non-null  object
 13  DegreeCode        167061 non-null  int64
 14  DegreeName        167061 non-null  object
 15  RestaurantName    167061 non-null  object
 16  GroupName         167061 non-null  object
 17  EducationSession  167061 non-null  object
 18  PersonType        167061 non-null  object
 19  Comment           167061 non-null  object
 20  Reception         167061 non-null  int64
 21  ReceiveWithCard   167061 non-null  int64
 22  ReceiveWithCode   167061 non-null  int64
 23  DontReceive       167061 non-null  int64
dtypes: float64(1), int64(11), object(12)
memory usage: 30.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167061 entries, 0 to 167060
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          167061 non-null  int64
 1   Reserveid         167061 non-null  int64
 2   Gender            167061 non-null  object
 3   Price             167061 non-null  int64
 4   DateReserve       167061 non-null  object
 5   Name              167061 non-null  object
 6   FoodName          167061 non-null  object
 7   Count             167061 non-null  int64
 8   ReserveStatus     167061 non-null  int64
 9   CollegeName       167061 non-null  object
 10  CollegeCode       167057 non-null  float64
 11  FieldCode         167061 non-null  int64
 12  FieldName         167061 non-null  object
 13  DegreeCode        167061 non-null  int64
 14  DegreeName        167061 non-null  object
 15  RestaurantName    167061 non-null  object
 16  GroupName         167061 non-null  object
 17  EducationSession  167061 non-null  object
 18  PersonType        167061 non-null  object
 19  Comment           167061 non-null  object
 20  Reception         167061 non-null  int64
 21  ReceiveWithCard   167061 non-null  int64
 22  ReceiveWithCode   167061 non-null  int64
 23  DontReceive       167061 non-null  int64
dtypes: float64(1), int64(11), object(12)
memory usage: 30.6+ MB
سبزی پلو با تن ماهی
خوراک كشك بادمجان
چلو خورش قیمه سیب زمینی
خوراک فلافل
چلوجوجه كباب
خوراک سالاد الویه
چلوكباب كوبیده
باقلاپلو با گوشت
خوراک کوردن بلو
خوراک کوکو سبزی
ساندویچ همبرگر
رشته پلو با ران مرغ
زرشك پلوبامرغ
خوراک كتلت
خوراک میرزاقاسمی
خوراک كوفته تبریزی
خوراک شنیسل مرغ
خوراک ماكارونی با قارچ
عدس پلو با گوشت و كشمش
چلو خورش قورمه سبزی
سبزی پلو ماهی
3 بسته ارزاق (ایام تعطیل)
ساندویچ فلافل
خوراک قارچ و گوشت
خوراک ناگت مرغ
چلو خورش قیمه بادمجان
خوراک کوکو سیب زمینی
خوراک شنیسل مرغ
لوبیا پلو باگوشت
خرید از بوفه روزانه
خرید از بوفه هفتگی (5 روز)
استانبولی با گوشت
خوراک سوفله بادمجان
خوراک مرغ سوخاری
شوید باقلاباگوشت
خوراک بیف استروگانوف
خوراک مرغ و قارچ
خوراک سیب زمینی و تخم مرغ
چلوكباب كوبیده نگيني
چلو خورش كرفس
خوراک سالاد ماكاروني
خوراک چیكن استروگانوف
چلو خورش مسما بادمجان با مرغ
چلو خورش فسنجان(مرغ)
چلومرغ مخلوط
خوراک نخود فرنگی با مرغ
سبزی پلو با ماهی قزل آلا
ساندویچ مرغ و قارچ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933 entries, 0 to 932
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           933 non-null    object
 1   RestaurantName        933 non-null    object
 2   RestaurantType        933 non-null    object
 3   Meal                  933 non-null    object
 4   FoodName              933 non-null    object
 5   FoodType              933 non-null    object
 6   Gender                933 non-null    object
 7   ReceiveWithCard       933 non-null    int64
 8   ReceiveWithCode       933 non-null    int64
 9   DontReceive           933 non-null    int64
 10  Reservation           933 non-null    int64
 11  DayOfWeek             933 non-null    int64
 12  DateReserveGregorian  933 non-null    object
dtypes: int64(5), object(8)
memory usage: 94.9+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1403-01-14,3,5,1,"[8, 32]","[1, 2]"
1403-01-15,3,5,1,"[7, 31]","[2, 3]"
1403-01-16,3,5,1,"[6, 30]","[3, 4]"
1403-01-17,3,5,1,"[5, 29]","[4, 5]"
1403-01-18,1,3,0,"[4, 28]","[5, 6]"
1403-01-19,1,3,0,"[3, 27]","[6, 7]"
1403-01-20,1,3,0,"[2, 26]","[7, 8]"
1403-01-21,1,3,0,"[1, 25]","[8, 9]"
1403-01-22,1,3,0,"[24, 54]","[0, 9]"
1403-01-23,1,3,0,"[23, 53]","[1, 10]"
1403-01-25,0,1,0,"[21, 51]","[3, 12]"
1403-01-26,0,1,0,"[20, 50]","[4, 13]"
1403-01-27,0,1,0,"[19, 49]","[5, 14]"
1403-01-28,0,1,0,"[18, 48]","[6, 15]"
1403-01-29,0,1,0,"[17, 47]","[7, 16]"
1403-01-30,0,1,0,"[16, 46]","[8, 17]"
1403-02-01,0,0,0,"[14, 44]","[10, 19]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1403-01-14,ابوریحان,daneshgah,dinner,سبزی پلو با تن ماهی,berenji,man,1,1,7,9,3,3,5,1,8,32,1,2,2024-04-02
1,1403-01-14,ابوریحان,daneshgah,dinner,سبزی پلو با تن ماهی,berenji,woman,4,0,1,5,3,3,5,1,8,32,1,2,2024-04-02
2,1403-01-14,سطح شهر,khabgah,dinner,خوراک كشك بادمجان,khorak,man,17,2,6,25,3,3,5,1,8,32,1,2,2024-04-02
3,1403-01-14,سطح شهر,khabgah,dinner,خوراک كشك بادمجان,khorak,woman,4,0,1,5,3,3,5,1,8,32,1,2,2024-04-02
4,1403-01-14,سطح شهر,khabgah,dinner,سبزی پلو با تن ماهی,berenji,man,139,19,40,198,3,3,5,1,8,32,1,2,2024-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928,1403-02-01,کشاورزی,khabgah,dinner,چلو خورش قیمه بادمجان,berenji,woman,98,4,2,104,0,0,0,0,14,44,10,19,2024-04-20
929,1403-02-01,کوی,khabgah,dinner,خوراک كتلت,khorak,man,377,16,25,418,0,0,0,0,14,44,10,19,2024-04-20
930,1403-02-01,کوی,khabgah,dinner,لوبیا پلو باگوشت,berenji,man,512,44,42,598,0,0,0,0,14,44,10,19,2024-04-20
931,1403-02-01,کوی,khabgah,lunch,خوراک نخود فرنگی با مرغ,khorak,man,152,13,14,179,0,0,0,0,14,44,10,19,2024-04-20
932,1403-02-01,کوی,khabgah,lunch,چلو خورش قیمه سیب زمینی,berenji,man,560,29,56,645,0,0,0,0,14,44,10,19,2024-04-20

1403-01-14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473641 entries, 0 to 473640
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          473641 non-null  int64
 1   Reserveid         473641 non-null  int64
 2   Gender            473641 non-null  object
 3   Price             473641 non-null  int64
 4   DateReserve       473641 non-null  object
 5   Name              473641 non-null  object
 6   FoodName          473641 non-null  object
 7   Count             473641 non-null  int64
 8   ReserveStatus     473641 non-null  int64
 9   CollegeName       473641 non-null  object
 10  CollegeCode       473616 non-null  float64
 11  FieldCode         473641 non-null  int64
 12  FieldName         473641 non-null  object
 13  DegreeCode        473641 non-null  int64
 14  DegreeName        473641 non-null  object
 15  RestaurantName    473641 non-null  object
 16  GroupName         473641 non-null  object
 17  EducationSession  473641 non-null  object
 18  PersonType        473641 non-null  object
 19  Comment           473641 non-null  object
 20  Reception         473641 non-null  int64
 21  ReceiveWithCard   473641 non-null  int64
 22  ReceiveWithCode   473641 non-null  int64
 23  DontReceive       473641 non-null  int64
dtypes: float64(1), int64(11), object(12)
memory usage: 86.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473641 entries, 0 to 473640
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          473641 non-null  int64
 1   Reserveid         473641 non-null  int64
 2   Gender            473641 non-null  object
 3   Price             473641 non-null  int64
 4   DateReserve       473641 non-null  object
 5   Name              473641 non-null  object
 6   FoodName          473641 non-null  object
 7   Count             473641 non-null  int64
 8   ReserveStatus     473641 non-null  int64
 9   CollegeName       473641 non-null  object
 10  CollegeCode       473616 non-null  float64
 11  FieldCode         473641 non-null  int64
 12  FieldName         473641 non-null  object
 13  DegreeCode        473641 non-null  int64
 14  DegreeName        473641 non-null  object
 15  RestaurantName    473641 non-null  object
 16  GroupName         473641 non-null  object
 17  EducationSession  473641 non-null  object
 18  PersonType        473641 non-null  object
 19  Comment           473641 non-null  object
 20  Reception         473641 non-null  int64
 21  ReceiveWithCard   473641 non-null  int64
 22  ReceiveWithCode   473641 non-null  int64
 23  DontReceive       473641 non-null  int64
dtypes: float64(1), int64(11), object(12)
memory usage: 86.7+ MB
خوراک سالاد الویه
باقلاپلو با گوشت
خوراک کوردن بلو
عدس پلو با گوشت و كشمش
چلوكباب تابه اي
خوراک شنیسل مرغ
چلوجوجه كباب
چلو خورش قیمه سیب زمینی
خوراک مرغ و قارچ
رشته پلو با گوشت
خرید از بوفه روزانه
خوراک کوکو سبزی
خرید از بوفه هفتگی (5 روز)
سبزی پلو با تن ماهی
لوبیا پلو باگوشت
خوراک كتلت
خوراك كتلت
خوراک نخود فرنگی با مرغ
خوراک سالاد ماكاروني
خوراک جوجه چینی
استانبولی پلو با مرغ
خوراک كوفته تبریزی
خوراک ماكارونی با قارچ
زرشك پلوبامرغ
خوراک فلافل
خوراک كشك بادمجان
چلوكباب كوبیده
چلو خورش قورمه سبزی
خوراک مرغ سوخاری
خوراک بیف استروگانوف
خوراک میرزاقاسمی
خوراک ناگت مرغ
چلوگوشت
سبزی پلو با ماهی قزل آلا
چلو خورش مسما بادمجان با مرغ
چلوكوبيده مرغ(1 سيخ)
ساندویچ همبرگر
استانبولی با گوشت
خوراک بادمجان(یتیمچه)
چلومرغ مخلوط
چلو خورش فسنجان(مرغ)
دمی لوبیا چشم بلبلی با گوشت
ساندویچ مرغ و قارچ
 سبزی پلو با تن ماهی
ساندویچ فلافل
باقلاپلو با مرغ
خوراک قارچ و گوشت
خوراک شنیسل مرغ
چلو خورش قیمه بادمجان
خوراک سیب زمینی و تخم مرغ
سبزی پلوباگوشت
خوراک آبگوشت
 چلوجوجه كباب
خوراک چیكن استروگانوف
لوبیا پلو با مرغ
چلوكباب كوبیده نگيني
خوراک دلمه فلفل
شوید باقلاباگوشت
خوراک کوکو سیب زمینی
کنسرو تن ماهی (180گرمی)
چلو خورش آلواسفناج
چلو خورش كرفس
 خوراک کوردن بلو
نودالیت (طبخ نشده -پخت توسط دانشجو)
خوراک لوبیا چیتی با قارچ
چلو خورش فسنجان(گوشت قلقلی)
خوراک گراتن با سبزیجات
خوراک کوکو سیب زمینی
چلو خورش لوبياسبز
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           2666 non-null   object
 1   RestaurantName        2666 non-null   object
 2   RestaurantType        2666 non-null   object
 3   Meal                  2666 non-null   object
 4   FoodName              2666 non-null   object
 5   FoodType              2666 non-null   object
 6   Gender                2666 non-null   object
 7   ReceiveWithCard       2666 non-null   int64
 8   ReceiveWithCode       2666 non-null   int64
 9   DontReceive           2666 non-null   int64
 10  Reservation           2666 non-null   int64
 11  DayOfWeek             2666 non-null   int64
 12  DateReserveGregorian  2666 non-null   object
dtypes: int64(5), object(8)
memory usage: 270.9+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1402-09-01,0,0,0,"[25, 81]","[50, 59]"
1402-09-11,0,0,0,"[15, 71]","[60, 69]"
1402-09-12,0,0,0,"[14, 70]","[61, 70]"
1402-09-13,0,0,0,"[13, 69]","[62, 71]"
1402-09-14,0,0,0,"[12, 68]","[63, 72]"
1402-09-15,0,0,0,"[11, 67]","[64, 73]"
1402-09-16,0,0,0,"[10, 66]","[65, 74]"
1402-09-18,0,0,1,"[8, 64]","[67, 76]"
1402-09-19,0,0,1,"[7, 63]","[68, 77]"
1402-09-02,0,0,0,"[24, 80]","[51, 60]"
1402-09-20,0,0,1,"[6, 62]","[69, 78]"
1402-09-21,0,0,1,"[5, 61]","[70, 79]"
1402-09-22,0,0,1,"[4, 60]","[71, 80]"
1402-09-23,0,0,1,"[3, 59]","[72, 81]"
1402-09-25,1,0,0,"[1, 57]","[74, 83]"
1402-09-26,1,0,0,"[56, 70]","[0, 75]"
1402-09-27,1,0,0,"[55, 69]","[1, 76]"
1402-09-28,1,0,0,"[54, 68]","[2, 77]"
1402-09-29,1,0,0,"[53, 67]","[3, 78]"
1402-09-30,1,0,0,"[52, 66]","[4, 79]"
1402-09-04,0,0,0,"[22, 78]","[53, 62]"
1402-09-05,0,0,0,"[21, 77]","[54, 63]"
1402-09-06,0,0,0,"[20, 76]","[55, 64]"
1402-09-07,0,0,0,"[19, 75]","[56, 65]"
1402-09-08,0,0,0,"[18, 74]","[57, 66]"
1402-09-09,0,0,0,"[17, 73]","[58, 67]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1402-09-01,ابوریحان,daneshgah,dinner,خوراک سالاد الویه,khorak,man,18,0,0,18,4,0,0,0,25,81,50,59,2023-11-22
1,1402-09-01,ابوریحان,daneshgah,dinner,خوراک سالاد الویه,khorak,woman,36,5,1,42,4,0,0,0,25,81,50,59,2023-11-22
2,1402-09-01,ابوریحان,daneshgah,dinner,چلوكباب تابه اي,berenji,man,66,0,1,67,4,0,0,0,25,81,50,59,2023-11-22
3,1402-09-01,ابوریحان,daneshgah,dinner,چلوكباب تابه اي,berenji,woman,25,2,2,29,4,0,0,0,25,81,50,59,2023-11-22
4,1402-09-01,ابوریحان,daneshgah,lunch,باقلاپلو با گوشت,berenji,man,63,0,0,63,4,0,0,0,25,81,50,59,2023-11-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,1402-09-09,کاسپین,daneshgah,lunch,عدس پلو با گوشت و كشمش,berenji,woman,39,1,1,41,5,0,0,0,17,73,58,67,2023-11-30
2662,1402-09-09,کشاورزی,daneshgah,lunch,سبزی پلو با تن ماهی,berenji,man,312,65,32,409,5,0,0,0,17,73,58,67,2023-11-30
2663,1402-09-09,کشاورزی,daneshgah,lunch,سبزی پلو با تن ماهی,berenji,woman,269,39,24,332,5,0,0,0,17,73,58,67,2023-11-30
2664,1402-09-09,کوی,khabgah,lunch,خوراک فلافل,khorak,man,248,11,24,283,5,0,0,0,17,73,58,67,2023-11-30
2665,1402-09-09,کوی,khabgah,lunch,زرشك پلوبامرغ,berenji,man,1041,50,63,1154,5,0,0,0,17,73,58,67,2023-11-30

1402-09-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477608 entries, 0 to 477607
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          477608 non-null  int64
 1   Reserveid         477608 non-null  int64
 2   Gender            477608 non-null  object
 3   Price             477603 non-null  float64
 4   DateReserve       477608 non-null  object
 5   Name              477608 non-null  object
 6   FoodName          477608 non-null  object
 7   Count             477608 non-null  int64
 8   ReserveStatus     477608 non-null  int64
 9   CollegeName       477608 non-null  object
 10  CollegeCode       477599 non-null  float64
 11  FieldCode         477608 non-null  int64
 12  FieldName         477608 non-null  object
 13  DegreeCode        477608 non-null  int64
 14  DegreeName        477608 non-null  object
 15  RestaurantName    477608 non-null  object
 16  GroupName         477608 non-null  object
 17  EducationSession  477608 non-null  object
 18  PersonType        477608 non-null  object
 19  Comment           477608 non-null  object
 20  Reception         477608 non-null  int64
 21  ReceiveWithCard   477608 non-null  int64
 22  ReceiveWithCode   477608 non-null  int64
 23  DontReceive       477608 non-null  int64
dtypes: float64(2), int64(10), object(12)
memory usage: 87.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477608 entries, 0 to 477607
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          477608 non-null  int64
 1   Reserveid         477608 non-null  int64
 2   Gender            477608 non-null  object
 3   Price             477603 non-null  float64
 4   DateReserve       477608 non-null  object
 5   Name              477608 non-null  object
 6   FoodName          477608 non-null  object
 7   Count             477608 non-null  int64
 8   ReserveStatus     477608 non-null  int64
 9   CollegeName       477608 non-null  object
 10  CollegeCode       477599 non-null  float64
 11  FieldCode         477608 non-null  int64
 12  FieldName         477608 non-null  object
 13  DegreeCode        477608 non-null  int64
 14  DegreeName        477608 non-null  object
 15  RestaurantName    477608 non-null  object
 16  GroupName         477608 non-null  object
 17  EducationSession  477608 non-null  object
 18  PersonType        477608 non-null  object
 19  Comment           477608 non-null  object
 20  Reception         477608 non-null  int64
 21  ReceiveWithCard   477608 non-null  int64
 22  ReceiveWithCode   477608 non-null  int64
 23  DontReceive       477608 non-null  int64
dtypes: float64(2), int64(10), object(12)
memory usage: 87.5+ MB
چلو خورش قیمه سیب زمینی
خوراک نخود فرنگی با مرغ
خوراک سالاد الویه
خوراک ناگت مرغ
خوراک كتلت
خوراک کوکو سیب زمینی
عدس پلو با گوشت و كشمش
لوبیا پلو باگوشت
چلو خورش قیمه بادمجان
سبزی پلو با تن ماهی
چلو خورش كرفس
ساندویچ مرغ و قارچ
خرید از بوفه هفتگی (5 روز)
خرید از بوفه روزانه
خوراک كوفته تبریزی
چلو خورش قورمه سبزی
شوید باقلاباگوشت
خوراک مرغ سوخاری
چلو خورش مسما بادمجان با مرغ
خوراک کوردن بلو
خوراک کوکو سبزی
خوراک چیكن استروگانوف
چلوكباب كوبیده نگيني
چلوجوجه كباب
نودالیت 2عدد (طبخ نشده -پخت توسط دانشجو)
خوراک لوبیا چیتی با قارچ
باقلاپلو با مرغ
خوراک شنیسل مرغ
خوراک ماكارونی با قارچ
زرشك پلوبامرغ
ساندویچ فلافل
چلو خورش فسنجان(مرغ)
نودالیت (طبخ نشده -پخت توسط دانشجو)
خوراک سیب زمینی و تخم مرغ
چلوكباب كوبیده
کنسرو تن ماهی (180گرمی)
خوراک دلمه فلفل
 سبزی پلو با تن ماهی
خوراک آبگوشت
خوراک كشك بادمجان
ساندویچ همبرگر
خوراک میرزاقاسمی
لوبیا پلو با مرغ
چلو خورش قیمه آلو
باقلاپلو با گوشت
سبزی پلوباگوشت
چلومرغ مخلوط
خوراک جوجه چینی
خوراک سالاد ماكاروني
 خوراك كوفته تبریزی
خوراک مرغ و قارچ
خوراک نخود فرنگی با گوشت
استانبولی با گوشت
رشته پلو با گوشت
 چلوجوجه كباب
خوراک فلافل
خوراک بیف استروگانوف
خوراک شنیسل مرغ
سبزی پلو با ماهی قزل آلا
چلو خورش لوبياسبز
چلوكباب تابه اي
زرشك پلوبا گوشت
چلومیرزا قاسمی
هواری مرغ
چلو خورش قلیه ماهی
دمی لوبیا چشم بلبلی با گوشت
چلوگوشت
دلمه برگ مو
استانبولی پلو با مرغ
خوراک بادمجان(یتیمچه)
چلوكوبيده مرغ(1 سيخ)
سبزی پلو ماهی
خوراک سوفله بادمجان
خوراک واویشکا
خوراک ناگت میگو
خوراک لوبیا چیتی با قارچ
خوراک قارچ و گوشت
خوراک گراتن با سبزیجات
خوراک میرزاقاسمی
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3039 entries, 0 to 3038
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           3039 non-null   object
 1   RestaurantName        3039 non-null   object
 2   RestaurantType        3039 non-null   object
 3   Meal                  3039 non-null   object
 4   FoodName              3039 non-null   object
 5   FoodType              3039 non-null   object
 6   Gender                3039 non-null   object
 7   ReceiveWithCard       3039 non-null   int64
 8   ReceiveWithCode       3039 non-null   int64
 9   DontReceive           3039 non-null   int64
 10  Reservation           3039 non-null   int64
 11  DayOfWeek             3039 non-null   int64
 12  DateReserveGregorian  3039 non-null   object
dtypes: int64(5), object(8)
memory usage: 308.8+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1403-02-01,0,0,0,"[14, 44]","[10, 19]"
1403-02-10,0,0,1,"[5, 35]","[19, 28]"
1403-02-11,0,0,1,"[4, 34]","[20, 29]"
1403-02-12,0,0,1,"[3, 33]","[21, 30]"
1403-02-13,0,0,1,"[2, 32]","[22, 31]"
1403-02-15,1,0,0,"[30, 31]","[0, 24]"
1403-02-16,1,0,0,"[29, 30]","[1, 25]"
1403-02-17,1,0,0,"[28, 29]","[2, 26]"
1403-02-18,1,0,0,"[27, 28]","[3, 27]"
1403-02-19,1,0,0,"[26, 27]","[4, 28]"
1403-02-02,0,0,0,"[13, 43]","[11, 20]"
1403-02-20,1,0,0,"[25, 26]","[5, 29]"
1403-02-22,0,1,0,"[23, 24]","[7, 31]"
1403-02-23,0,1,0,"[22, 23]","[8, 32]"
1403-02-24,0,1,0,"[21, 22]","[9, 33]"
1403-02-25,0,1,0,"[20, 21]","[10, 34]"
1403-02-26,0,1,0,"[19, 20]","[11, 35]"
1403-02-27,0,1,0,"[18, 19]","[12, 36]"
1403-02-29,0,0,0,"[16, 17]","[14, 38]"
1403-02-03,0,0,0,"[12, 42]","[12, 21]"
1403-02-30,0,0,0,"[15, 16]","[15, 39]"
1403-02-31,0,0,0,"[14, 15]","[16, 40]"
1403-02-04,0,0,0,"[11, 41]","[13, 22]"
1403-02-05,0,0,0,"[10, 40]","[14, 23]"
1403-02-06,0,0,0,"[9, 39]","[15, 24]"
1403-02-08,0,0,1,"[7, 37]","[17, 26]"
1403-02-09,0,0,1,"[6, 36]","[18, 27]"
1403-03-01,0,0,0,"[13, 14]","[17, 41]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1403-02-01,ابوریحان,daneshgah,dinner,خوراک كتلت,khorak,man,23,5,1,29,0,0,0,0,14,44,10,19,2024-04-20
1,1403-02-01,ابوریحان,daneshgah,dinner,خوراک كتلت,khorak,woman,25,6,2,33,0,0,0,0,14,44,10,19,2024-04-20
2,1403-02-01,ابوریحان,daneshgah,dinner,لوبیا پلو باگوشت,berenji,man,60,13,3,76,0,0,0,0,14,44,10,19,2024-04-20
3,1403-02-01,ابوریحان,daneshgah,dinner,لوبیا پلو باگوشت,berenji,woman,58,7,3,68,0,0,0,0,14,44,10,19,2024-04-20
4,1403-02-01,ابوریحان,daneshgah,lunch,خوراک نخود فرنگی با مرغ,khorak,man,22,2,0,24,0,0,0,0,14,44,10,19,2024-04-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,1403-03-01,کشاورزی,khabgah,dinner,چلو خورش قیمه سیب زمینی,berenji,woman,109,15,23,147,3,0,0,0,13,14,17,41,2024-05-21
3035,1403-03-01,کوی,khabgah,dinner,خوراک سالاد الویه,khorak,man,185,16,36,237,3,0,0,0,13,14,17,41,2024-05-21
3036,1403-03-01,کوی,khabgah,dinner,چلوكباب كوبیده,berenji,man,907,58,90,1055,3,0,0,0,13,14,17,41,2024-05-21
3037,1403-03-01,کوی,khabgah,lunch,خوراک دلمه,khorak,man,187,14,27,228,3,0,0,0,13,14,17,41,2024-05-21
3038,1403-03-01,کوی,khabgah,lunch,عدس پلو با گوشت و كشمش,berenji,man,414,29,59,502,3,0,0,0,13,14,17,41,2024-05-21

1403-02-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272556 entries, 0 to 272555
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          272556 non-null  int64
 1   Reserveid         272556 non-null  int64
 2   Gender            272556 non-null  object
 3   Price             272553 non-null  float64
 4   DateReserve       272556 non-null  object
 5   Name              272556 non-null  object
 6   FoodName          272556 non-null  object
 7   Count             272556 non-null  int64
 8   ReserveStatus     272556 non-null  int64
 9   CollegeName       272556 non-null  object
 10  CollegeCode       272554 non-null  float64
 11  FieldCode         272556 non-null  int64
 12  FieldName         272556 non-null  object
 13  DegreeCode        272556 non-null  int64
 14  DegreeName        272556 non-null  object
 15  RestaurantName    272556 non-null  object
 16  GroupName         272556 non-null  object
 17  EducationSession  272556 non-null  object
 18  PersonType        272556 non-null  object
 19  Comment           272556 non-null  object
 20  Reception         272556 non-null  int64
 21  ReceptionType     272556 non-null  int64
 22  ReceiveWithCard   272556 non-null  int64
 23  ReceiveWithCode   272556 non-null  int64
 24  DontReceive       272556 non-null  int64
dtypes: float64(2), int64(11), object(12)
memory usage: 52.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272556 entries, 0 to 272555
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          272556 non-null  int64
 1   Reserveid         272556 non-null  int64
 2   Gender            272556 non-null  object
 3   Price             272553 non-null  float64
 4   DateReserve       272556 non-null  object
 5   Name              272556 non-null  object
 6   FoodName          272556 non-null  object
 7   Count             272556 non-null  int64
 8   ReserveStatus     272556 non-null  int64
 9   CollegeName       272556 non-null  object
 10  CollegeCode       272554 non-null  float64
 11  FieldCode         272556 non-null  int64
 12  FieldName         272556 non-null  object
 13  DegreeCode        272556 non-null  int64
 14  DegreeName        272556 non-null  object
 15  RestaurantName    272556 non-null  object
 16  GroupName         272556 non-null  object
 17  EducationSession  272556 non-null  object
 18  PersonType        272556 non-null  object
 19  Comment           272556 non-null  object
 20  Reception         272556 non-null  int64
 21  ReceptionType     272556 non-null  int64
 22  ReceiveWithCard   272556 non-null  int64
 23  ReceiveWithCode   272556 non-null  int64
 24  DontReceive       272556 non-null  int64
dtypes: float64(2), int64(11), object(12)
memory usage: 52.0+ MB
زرشك پلوبامرغ
خوراک فلافل
عدس پلو با گوشت و كشمش
خوراک ماكارونی با قارچ
خوراک دلمه فلفل
خوراک میرزاقاسمی
ساندویچ همبرگر
چلوكباب كوبیده
خرید از بوفه روزانه
خرید از بوفه هفتگی (5 روز)
استانبولی پلو با مرغ
چلو خورش قورمه سبزی
چلوكباب كوبیده نگيني
خوراک چیكن استروگانوف
ساندویچ فلافل
خوراک كشك بادمجان
خوراک ناگت مرغ
خوراک آبگوشت
خوراک کوکو سیب زمینی
لوبیا پلو باگوشت
چلو خورش فسنجان(مرغ)
خوراک سالاد الویه
باقلاپلو با مرغ
خوراک بیف استروگانوف
چلوجوجه كباب
چلوكوبيده مرغ(1 سيخ)
خوراک کوردن بلو
خوراک گراتن با سبزیجات
استانبولی پلو با گوشت
چلو خورش كرفس
خوراک مرغ سوخاری
چلوگوشت
ساندویچ مرغ و قارچ
خوراک كوفته تبریزی
سبزی پلو با ماهی قزل آلا
سبزی پلو ماهی
خوراک شنیسل مرغ
استانبولی با گوشت
چلو خورش قیمه سیب زمینی
چلو خورش قیمه بادمجان
خوراک نخود فرنگی با مرغ
خوراک سالاد ماكاروني
سبزی پلوباگوشت
 چلوجوجه كباب
چلومرغ مخلوط
چلو خورش مسما بادمجان با مرغ
رشته پلو با گوشت
خوراک كتلت
خوراک بادمجان(یتیمچه)
سبزی پلو با تن ماهی
خوراک کوکو سبزی
خوراک قارچ و گوشت
باقلاپلو با گوشت
خوراک میرزاقاسمی
خوراک جوجه چینی
شوید باقلاباگوشت
لوبیا پلو با مرغ
خوراک نخود فرنگی با گوشت
خوراک كشك بادمجان
استانبولی پلو با گوشت
خوراک مرغ و قارچ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1788 entries, 0 to 1787
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           1788 non-null   object
 1   RestaurantName        1788 non-null   object
 2   RestaurantType        1788 non-null   object
 3   Meal                  1788 non-null   object
 4   FoodName              1788 non-null   object
 5   FoodType              1788 non-null   object
 6   Gender                1788 non-null   object
 7   ReceiveWithCard       1788 non-null   int64
 8   ReceiveWithCode       1788 non-null   int64
 9   DontReceive           1788 non-null   int64
 10  Reservation           1788 non-null   int64
 11  DayOfWeek             1788 non-null   int64
 12  DateReserveGregorian  1788 non-null   object
dtypes: int64(5), object(8)
memory usage: 181.7+ KB

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1402-12-01,0,1,1,"[5, 28]","[9, 65]"
1402-12-10,1,0,0,"[19, 20]","[4, 18]"
1402-12-12,0,1,0,"[17, 18]","[6, 20]"
1402-12-13,0,1,0,"[16, 17]","[7, 21]"
1402-12-14,0,1,0,"[15, 16]","[8, 22]"
1402-12-15,0,1,0,"[14, 15]","[9, 23]"
1402-12-16,0,1,0,"[13, 14]","[10, 24]"
1402-12-17,0,1,0,"[12, 13]","[11, 25]"
1402-12-19,0,0,2,"[10, 11]","[13, 27]"
1402-12-02,0,1,1,"[4, 27]","[10, 66]"
1402-12-20,0,0,2,"[9, 10]","[14, 28]"
1402-12-21,0,0,2,"[8, 9]","[15, 29]"
1402-12-22,0,0,2,"[7, 8]","[16, 30]"
1402-12-23,0,0,2,"[6, 7]","[17, 31]"
1402-12-24,0,0,2,"[5, 6]","[18, 32]"
1402-12-25,0,0,2,"[4, 5]","[19, 33]"
1402-12-26,2,0,5,"[3, 4]","[20, 34]"
1402-12-27,2,0,5,"[2, 3]","[21, 35]"
1402-12-03,0,1,1,"[3, 26]","[11, 67]"
1402-12-05,1,0,0,"[1, 24]","[13, 69]"
1402-12-06,1,0,0,"[23, 24]","[0, 14]"
1402-12-07,1,0,0,"[22, 23]","[1, 15]"
1402-12-08,1,0,0,"[21, 22]","[2, 16]"
1402-12-09,1,0,0,"[20, 21]","[3, 17]"

,DateReserve,RestaurantName,RestaurantType,Meal,FoodName,FoodType,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,Reservation,DayOfWeek,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2,DateReserveGregorian
0,1402-12-01,ابوریحان,daneshgah,dinner,خوراک فلافل,khorak,man,18,3,1,22,3,0,1,1,5,28,9,65,2024-02-20
1,1402-12-01,ابوریحان,daneshgah,dinner,خوراک فلافل,khorak,woman,20,5,6,31,3,0,1,1,5,28,9,65,2024-02-20
2,1402-12-01,ابوریحان,daneshgah,dinner,زرشك پلوبامرغ,berenji,man,63,9,2,74,3,0,1,1,5,28,9,65,2024-02-20
3,1402-12-01,ابوریحان,daneshgah,dinner,زرشك پلوبامرغ,berenji,woman,23,6,4,33,3,0,1,1,5,28,9,65,2024-02-20
4,1402-12-01,ابوریحان,daneshgah,lunch,خوراک دلمه,khorak,man,23,5,3,31,3,0,1,1,5,28,9,65,2024-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783,1402-12-09,کشاورزی,khabgah,dinner,خوراک سالاد ماكاروني,khorak,woman,73,7,8,88,4,1,0,0,20,21,3,17,2024-02-28
1784,1402-12-09,کوی,khabgah,dinner,خوراک كشك بادمجان,khorak,man,158,10,23,191,4,1,0,0,20,21,3,17,2024-02-28
1785,1402-12-09,کوی,khabgah,dinner,چلو خورش قیمه سیب زمینی,berenji,man,859,47,91,997,4,1,0,0,20,21,3,17,2024-02-28
1786,1402-12-09,کوی,khabgah,lunch,خوراک کوکو سبزی,khorak,man,80,7,10,97,4,1,0,0,20,21,3,17,2024-02-28
1787,1402-12-09,کوی,khabgah,lunch,زرشك پلوبامرغ,berenji,man,826,58,79,963,4,1,0,0,20,21,3,17,2024-02-28

1402-12-01

In [7]:
len(result)

7

In [8]:
out = pd.DataFrame()
for i in result:
    out.append(i, ignore_index=True)
    
out

/tmp/ipykernel_34727/2538714842.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  out.append(i, ignore_index=True)

Empty DataFrame
Columns: []
Index: []

In [9]:
out

Empty DataFrame
Columns: []
Index: []

In [10]:
pd.concat(result).to_csv('out.csv', index=False)