In [112]:
import pandas as pd
from jdatetime import datetime, date
from IPython.display import display

In [113]:
df = pd.read_excel("./data/ReserveBaham1402.xlsx")

In [759]:
df['ReserveStatus'].unique()

array([1])

In [760]:
def convert_ReserveStatus(x):
    if(x == 'دریافت نشده' or x == 'ارسال نشده' or x == 'منقضی شده'):
        return 0
    return 1

In [761]:
df['ReserveStatus'] = df['ReserveStatus'].apply(convert_ReserveStatus)

In [762]:
df

,PersonId,Reserveid,Gender,Price,DateReserve,Name,FoodName,Count,ReserveStatus,CollegeName,...,PersonType,Comment,Reception,ReceptionType,reciev_with_card,reciev_with_code,dont_reciev,ReceiveWithCard,ReceiveWithCode,DontReceive
0,44342,6381703,مرد_x000D_\n,100000,1402/11/1,ناهار,چلوكباب كوبیده+دوغ+کره (تکنفره)+نارنج (50 گرم),1,1,دامپزشکی‌,...,دانشجو,ممتنع,0,1,1,0,0,1,0,0
1,141693,6405451,مرد_x000D_\n,100000,1402/11/1,شام,سبزی پلو با تن ماهی+خرما+زیتون (40 گرم),1,1,دانشکدگان ‌فنی,...,دانشجو,ممتنع,0,1,1,0,0,1,0,0
2,112376,6352639,مرد_x000D_\n,100000,1402/11/1,ناهار,چلوكباب كوبیده+دوغ+کره (تکنفره)+نارنج (50 گرم),1,1,حقوق‌ و علوم‌ سیاسی‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
3,146508,6365021,زن,100000,1402/11/1,شام,خوراک سوفله بادمجان,1,1,دانشکدگان کشاورزی‌ و منابع طبیعی,...,دانشجو,بدون نظر,0,2,1,0,0,1,0,0
4,13837,6390103,زن,100000,1402/11/1,شام,سبزی پلو با تن ماهی+خرما+زیتون (40 گرم),1,1,ادبیات‌ و علوم‌ انسانی‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299108,43731,6467608,مرد_x000D_\n,100000,1402/11/9,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,1,1,دانشکدگان ‌فنی,...,دانشجو,بدون نظر,0,2,1,0,0,1,0,0
299109,160810,6510331,مرد_x000D_\n,100000,1402/11/9,ناهار,زرشك پلوبامرغ+آش شله قلمکار+ژله تک نفره,1,1,دانشکدگان فارابی,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
299110,5504,6520920,مرد_x000D_\n,80000,1402/11/9,ناهار,خوراک سالاد ماكاروني+آش شله قلمکار+ژله تک نفره,1,1,دانشکدگان فارابی,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
299111,113599,6448286,مرد_x000D_\n,100000,1402/11/9,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,1,1,دانشکدگان علوم‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
299112,141474,6503109,زن,100000,1402/11/9,ناهار,چلو خورش قورمه سبزی+میوه,1,1,دانشکدگان علوم‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0

In [763]:
df['ReserveStatus'].unique()

array([1])

In [764]:
df['Reception'].unique()

array([0])

In [765]:
def convert_Reception(x):
    if(x == 'کد فراموشی' or x == 'بارکد فراموشی'):
        return 1
    return 0

In [766]:
df['Reception'] = df['Reception'].apply(convert_Reception)

In [767]:
df['Reception'].unique()

array([0])

In [768]:
def apply_recive_with_card(row):
    if row['Reception'] == 0 and row['ReserveStatus'] == 1:
        return 1
    return 0

In [769]:
df['ReceiveWithCard'] = df.apply(apply_recive_with_card,axis=1)

In [770]:
def apply_reciev_with_code(row):
    if row['Reception'] == 1 and row['ReserveStatus'] == 1:
        return 1
    return 0

In [771]:
df['ReceiveWithCode'] = df.apply(apply_reciev_with_code,axis=1)

In [772]:
def apply_dont_reciev(row):
    if row['ReserveStatus'] == 0:
        return 1
    return 0

In [773]:
df['DontReceive'] = df.apply(apply_dont_reciev,axis=1)

In [774]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299113 entries, 0 to 299112
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          299113 non-null  int64
 1   Reserveid         299113 non-null  int64
 2   Gender            299113 non-null  object
 3   Price             299113 non-null  int64
 4   DateReserve       299113 non-null  object
 5   Name              299113 non-null  object
 6   FoodName          299113 non-null  object
 7   Count             299113 non-null  int64
 8   ReserveStatus     299113 non-null  int64
 9   CollegeName       299113 non-null  object
 10  CollegeCode       299101 non-null  float64
 11  FieldCode         299113 non-null  int64
 12  FieldName         299113 non-null  object
 13  DegreeCode        299113 non-null  int64
 14  DegreeName        299113 non-null  object
 15  RestaurantName    299113 non-null  object
 16  GroupName         299113 non-null  object
 17  EducationSession  299113 non-null  object
 18  PersonType        299113 non-null  object
 19  Comment           299113 non-null  object
 20  Reception         299113 non-null  int64
 21  ReceptionType     299113 non-null  int64
 22  reciev_with_card  299113 non-null  int64
 23  reciev_with_code  299113 non-null  int64
 24  dont_reciev       299113 non-null  int64
 25  ReceiveWithCard   299113 non-null  int64
 26  ReceiveWithCode   299113 non-null  int64
 27  DontReceive       299113 non-null  int64
dtypes: float64(1), int64(15), object(12)
memory usage: 63.9+ MB

In [775]:
df['DateReserve'] = df['DateReserve'].astype(str)

In [776]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299113 entries, 0 to 299112
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PersonId          299113 non-null  int64
 1   Reserveid         299113 non-null  int64
 2   Gender            299113 non-null  object
 3   Price             299113 non-null  int64
 4   DateReserve       299113 non-null  object
 5   Name              299113 non-null  object
 6   FoodName          299113 non-null  object
 7   Count             299113 non-null  int64
 8   ReserveStatus     299113 non-null  int64
 9   CollegeName       299113 non-null  object
 10  CollegeCode       299101 non-null  float64
 11  FieldCode         299113 non-null  int64
 12  FieldName         299113 non-null  object
 13  DegreeCode        299113 non-null  int64
 14  DegreeName        299113 non-null  object
 15  RestaurantName    299113 non-null  object
 16  GroupName         299113 non-null  object
 17  EducationSession  299113 non-null  object
 18  PersonType        299113 non-null  object
 19  Comment           299113 non-null  object
 20  Reception         299113 non-null  int64
 21  ReceptionType     299113 non-null  int64
 22  reciev_with_card  299113 non-null  int64
 23  reciev_with_code  299113 non-null  int64
 24  dont_reciev       299113 non-null  int64
 25  ReceiveWithCard   299113 non-null  int64
 26  ReceiveWithCode   299113 non-null  int64
 27  DontReceive       299113 non-null  int64
dtypes: float64(1), int64(15), object(12)
memory usage: 63.9+ MB

In [777]:
df

,PersonId,Reserveid,Gender,Price,DateReserve,Name,FoodName,Count,ReserveStatus,CollegeName,...,PersonType,Comment,Reception,ReceptionType,reciev_with_card,reciev_with_code,dont_reciev,ReceiveWithCard,ReceiveWithCode,DontReceive
0,44342,6381703,مرد_x000D_\n,100000,1402/11/1,ناهار,چلوكباب كوبیده+دوغ+کره (تکنفره)+نارنج (50 گرم),1,1,دامپزشکی‌,...,دانشجو,ممتنع,0,1,1,0,0,1,0,0
1,141693,6405451,مرد_x000D_\n,100000,1402/11/1,شام,سبزی پلو با تن ماهی+خرما+زیتون (40 گرم),1,1,دانشکدگان ‌فنی,...,دانشجو,ممتنع,0,1,1,0,0,1,0,0
2,112376,6352639,مرد_x000D_\n,100000,1402/11/1,ناهار,چلوكباب كوبیده+دوغ+کره (تکنفره)+نارنج (50 گرم),1,1,حقوق‌ و علوم‌ سیاسی‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
3,146508,6365021,زن,100000,1402/11/1,شام,خوراک سوفله بادمجان,1,1,دانشکدگان کشاورزی‌ و منابع طبیعی,...,دانشجو,بدون نظر,0,2,1,0,0,1,0,0
4,13837,6390103,زن,100000,1402/11/1,شام,سبزی پلو با تن ماهی+خرما+زیتون (40 گرم),1,1,ادبیات‌ و علوم‌ انسانی‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299108,43731,6467608,مرد_x000D_\n,100000,1402/11/9,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,1,1,دانشکدگان ‌فنی,...,دانشجو,بدون نظر,0,2,1,0,0,1,0,0
299109,160810,6510331,مرد_x000D_\n,100000,1402/11/9,ناهار,زرشك پلوبامرغ+آش شله قلمکار+ژله تک نفره,1,1,دانشکدگان فارابی,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
299110,5504,6520920,مرد_x000D_\n,80000,1402/11/9,ناهار,خوراک سالاد ماكاروني+آش شله قلمکار+ژله تک نفره,1,1,دانشکدگان فارابی,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
299111,113599,6448286,مرد_x000D_\n,100000,1402/11/9,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,1,1,دانشکدگان علوم‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0
299112,141474,6503109,زن,100000,1402/11/9,ناهار,چلو خورش قورمه سبزی+میوه,1,1,دانشکدگان علوم‌,...,دانشجو,بدون نظر,0,1,1,0,0,1,0,0

In [778]:
grouped = df.groupby(['DateReserve', 'RestaurantName','Name','FoodName','Gender'])
result = grouped.agg({
    'ReceiveWithCard': 'sum',
    'ReceiveWithCode': 'sum',
    'DontReceive': 'sum'
})

In [779]:
result = result.reset_index()

In [780]:
result

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive
0,1402/11/1,خوابگاه- فاطمیه -خواهران,شام,خوراک کوکو سیب زمینی+سس کچاپ(تکنفره)+گوجه فرنگ...,زن,72,0,0
1,1402/11/1,خوابگاه- فاطمیه -خواهران,شام,سبزی پلو با تن ماهی+خرما+زیتون (40 گرم),زن,882,0,0
2,1402/11/1,خوابگاه- فاطمیه -خواهران,ناهار,خوراک آبگوشت+دوغ+نان سنگک,زن,94,0,0
3,1402/11/1,خوابگاه- فاطمیه -خواهران,ناهار,چلوكباب كوبیده+دوغ+کره (تکنفره)+نارنج (50 گرم),زن,375,0,0
4,1402/11/1,خوابگاه-ساختمان 6-برادران,شام,خوراک کوکو سیب زمینی+سس کچاپ(تکنفره)+گوجه فرنگ...,مرد_x000D_\n,45,0,0
...,...,...,...,...,...,...,...,...
3616,1402/11/9,کشاورزی- سلف مرکزی,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,زن,192,0,0
3617,1402/11/9,کشاورزی- سلف مرکزی,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,مرد_x000D_\n,177,0,0
3618,1402/11/9,کشاورزی- سلف مرکزی,ناهار,لوبیا پلو باگوشت+ماست موسیر+میوه,زن,329,0,0
3619,1402/11/9,کشاورزی- سلف مرکزی,ناهار,لوبیا پلو باگوشت+ماست موسیر+میوه,مرد_x000D_\n,336,0,0
3620,1402/11/9,کشاورزی- سلف مرکزی(سلف مهمان-روزانه 50نفر),ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,مرد_x000D_\n,4,0,0

In [781]:
result = result[result['RestaurantName'].str.contains('رستوران آزاد') == False]
result = result[result['RestaurantName'].str.contains('مهمان') == False]

In [782]:
result['Name'].unique()

array(['شام', 'ناهار', 'صبحانه'], dtype=object)

In [783]:
result = result.drop(result[result['Name'] == 'سحر'].index)
result = result.drop(result[result['Name'] == 'صبحانه'].index)

In [784]:
result = result.reset_index(drop=True)

In [785]:
result

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive
0,1402/11/1,خوابگاه- فاطمیه -خواهران,شام,خوراک کوکو سیب زمینی+سس کچاپ(تکنفره)+گوجه فرنگ...,زن,72,0,0
1,1402/11/1,خوابگاه- فاطمیه -خواهران,شام,سبزی پلو با تن ماهی+خرما+زیتون (40 گرم),زن,882,0,0
2,1402/11/1,خوابگاه- فاطمیه -خواهران,ناهار,خوراک آبگوشت+دوغ+نان سنگک,زن,94,0,0
3,1402/11/1,خوابگاه- فاطمیه -خواهران,ناهار,چلوكباب كوبیده+دوغ+کره (تکنفره)+نارنج (50 گرم),زن,375,0,0
4,1402/11/1,خوابگاه-ساختمان 6-برادران,شام,خوراک کوکو سیب زمینی+سس کچاپ(تکنفره)+گوجه فرنگ...,مرد_x000D_\n,45,0,0
...,...,...,...,...,...,...,...,...
3043,1402/11/9,کشاورزی- سلف خوابگاه خواهران,شام,خوراک گراتن با سبزیجات,زن,177,0,0
3044,1402/11/9,کشاورزی- سلف مرکزی,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,زن,192,0,0
3045,1402/11/9,کشاورزی- سلف مرکزی,ناهار,خوراک شنیسل مرغ+سیب زمینی سرخ کرده+سس کچاپ(تکن...,مرد_x000D_\n,177,0,0
3046,1402/11/9,کشاورزی- سلف مرکزی,ناهار,لوبیا پلو باگوشت+ماست موسیر+میوه,زن,329,0,0
3047,1402/11/9,کشاورزی- سلف مرکزی,ناهار,لوبیا پلو باگوشت+ماست موسیر+میوه,مرد_x000D_\n,336,0,0

In [786]:
result['Name'].unique()

array(['شام', 'ناهار'], dtype=object)

In [787]:
result['FoodName'].nunique()

183

In [788]:
def delete_definition(x):
    sep = '+'
    stripped = x.split(sep, 1)[0]
    return stripped
result['FoodName'] = result['FoodName'].apply(delete_definition)

In [789]:
def delete_gender_from_name(x:str):
    out = x
    for i in ['خواهران', 'برادران', 'خانم', 'آقا', 'دختران', 'پسران']:
        out = out.replace(i, '')
    return out
result['RestaurantName'] = result['RestaurantName'].apply(delete_gender_from_name)

In [790]:
result['RestaurantName'] = result['RestaurantName'].apply(lambda x: 'سطح شهر' if 'سطح شهر' in x else x)

In [791]:
def select_restaurant_type(x):
    if 'سطح شهر' in x:
        return 'khabgah'
    if 'خوابگاه' in x:
        return 'khabgah'
    return 'daneshgah'
result['RestaurantType'] = result['RestaurantName'].apply(select_restaurant_type)

In [792]:
result['RestaurantName'].unique()

array(['خوابگاه- فاطمیه -', 'خوابگاه-ساختمان 6- ',
       'خوابگاه-ساختمان 71و72- ', 'خوابگاه-چمران- ', 'خوابگاه-کوی - ',
       'دانشکده- علوم و فناوري\u200cهاي ميان\u200cرشته\u200cاي',
       'دانشکده-سلف اقتصاد', 'دانشکده-سلف الهیات و معارف اسلامی',
       'دانشکده-سلف بیوشیمی و بیوفیزیک', 'دانشکده-سلف تربیت بدنی',
       'دانشکده-سلف دامپزشکی تهران',
       'دانشکده-سلف روانشناسی و علوم تربیتی', 'دانشکده-سلف زبانهای خارجه',
       'دانشکده-سلف علوم', 'دانشکده-سلف علوم اجتماعی',
       'دانشکده-سلف فنی1-16 آذر --کارکنان-',
       'دانشکده-سلف فنی1-16 آذر--کارکنان-',
       'دانشکده-سلف فنی2-امیرآباد--کارکنان-',
       'دانشکده-سلف فنی2-امیرآباد--دکترا--کارکنان', 'دانشکده-سلف فیزیک',
       'دانشکده-سلف مدیریت', 'دانشکده-سلف مطالعات جهان',
       'دانشکده-سلف مهر', 'دانشکده-سلف هنرهای زیبا',
       'دانشکده-سلف ژئوفیزیک', 'دانشکده-سلف کارآفرینی', 'سطح شهر',
       'فارابی- سلف مرکزی', 'فارابی-خوابگاه-اندیشه قم- ',
       'فارابی-خوابگاه-حضرت زهرا- ', 'فارابی-خوابگاه-حضرت معصومه- ',
       'فارابی-خوابگاه-دانش قم- ', 'فومن-خوابگاه- ', 'فومن-خوابگاه1و2- ',
       'فومن-پردیس فنی-4 ', 'پردیس -ابوریحان', 'کاسپین-خوابگاه 1- ',
       'کاسپین-خوابگاه- ', 'کاسپین-پردیس فنی-3 ',
       'کشاورزی - خرید از بوفه(خوابگاه )', 'کشاورزی- خوابگاه (سلف مرکزی)',
       'کشاورزی- سلف خوابگاه ', 'کشاورزی- سلف مرکزی'], dtype=object)

In [793]:
def remove_restaurant_type(x):
    for i in ['خوابگاه', 'دانشکده', 'پردیس', 'سلف']:
        x = x.replace(i, '')
    return x
result['RestaurantName'] = result['RestaurantName'].apply(remove_restaurant_type)

In [794]:
def fix_campus_name(x):
    if 'کاسپین' in x:
        return 'کاسپین'
    elif 'فارابی' in x:
        return 'فارابی'
    elif 'ابوریحان' in x:
        return 'ابوریحان'
    elif 'کشاورزی' in x:
        return 'کشاورزی'
    elif 'فومن' in x:
        return 'فومن'
    return x
result['RestaurantName'] = result['RestaurantName'].apply(fix_campus_name)

In [795]:
def fix_restaurant_name(x):
    for i in ['دکترا', 'کارکنان']:
        x = x.replace(i, '')
    for i in ['فنی1', 'فنی2']:
        x = x.replace(i, 'فنی ')
    x = x.replace('-', '')
    x = x.replace('فنیامیرآباد', 'فنی امیرآباد')
    x = x.strip()
    return x
result['RestaurantName'] = result['RestaurantName'].apply(fix_restaurant_name)

In [796]:
result

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType
0,1402/11/1,فاطمیه,شام,خوراک کوکو سیب زمینی,زن,72,0,0,khabgah
1,1402/11/1,فاطمیه,شام,سبزی پلو با تن ماهی,زن,882,0,0,khabgah
2,1402/11/1,فاطمیه,ناهار,خوراک آبگوشت,زن,94,0,0,khabgah
3,1402/11/1,فاطمیه,ناهار,چلوكباب كوبیده,زن,375,0,0,khabgah
4,1402/11/1,ساختمان 6,شام,خوراک کوکو سیب زمینی,مرد_x000D_\n,45,0,0,khabgah
...,...,...,...,...,...,...,...,...,...
3043,1402/11/9,کشاورزی,شام,خوراک گراتن با سبزیجات,زن,177,0,0,khabgah
3044,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,زن,192,0,0,daneshgah
3045,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,مرد_x000D_\n,177,0,0,daneshgah
3046,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,زن,329,0,0,daneshgah
3047,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,مرد_x000D_\n,336,0,0,daneshgah

In [797]:
import hazm
normalizer = hazm.Normalizer()
for i in range(len((result['RestaurantName'].unique()))):
    print(i, result['RestaurantName'].unique()[i])

0 فاطمیه
1 ساختمان 6
2 ساختمان 71و72
3 چمران
4 کوی
5 علوم و فناوري‌هاي ميان‌رشته‌اي
6 اقتصاد
7 الهیات و معارف اسلامی
8 بیوشیمی و بیوفیزیک
9 تربیت بدنی
10 دامپزشکی تهران
11 روانشناسی و علوم تربیتی
12 زبانهای خارجه
13 علوم
14 علوم اجتماعی
15 فنی 16 آذر
16 فنی امیرآباد
17 فیزیک
18 مدیریت
19 مطالعات جهان
20 مهر
21 هنرهای زیبا
22 ژئوفیزیک
23 کارآفرینی
24 سطح شهر
25 فارابی
26 فومن
27 ابوریحان
28 کاسپین
29 کشاورزی

In [798]:
result[result['RestaurantName'] == result['RestaurantName'].unique()[0]]

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType
0,1402/11/1,فاطمیه,شام,خوراک کوکو سیب زمینی,زن,72,0,0,khabgah
1,1402/11/1,فاطمیه,شام,سبزی پلو با تن ماهی,زن,882,0,0,khabgah
2,1402/11/1,فاطمیه,ناهار,خوراک آبگوشت,زن,94,0,0,khabgah
3,1402/11/1,فاطمیه,ناهار,چلوكباب كوبیده,زن,375,0,0,khabgah
171,1402/11/10,فاطمیه,شام,خوراک ناگت مرغ,زن,288,0,0,khabgah
...,...,...,...,...,...,...,...,...,...
2709,1402/11/8,فاطمیه,ناهار,چلوكباب كوبیده,زن,378,0,0,khabgah
2874,1402/11/9,فاطمیه,شام,خوراک کوردن بلو,زن,309,0,0,khabgah
2875,1402/11/9,فاطمیه,شام,سبزی پلو با ماهی قزل آلا,زن,523,0,0,khabgah
2876,1402/11/9,فاطمیه,ناهار,خوراک شنیسل مرغ,زن,238,0,0,khabgah
2877,1402/11/9,فاطمیه,ناهار,چلو خورش قورمه سبزی,زن,248,0,0,khabgah

In [799]:
for i in result['FoodName'].unique():
    print(i)

خوراک کوکو سیب زمینی
سبزی پلو با تن ماهی
خوراک آبگوشت
چلوكباب كوبیده
ساندویچ همبرگر
چلو خورش مسما بادمجان با مرغ
خوراک ناگت مرغ
چلو خورش لوبياسبز
چلو خورش قیمه سیب زمینی
خرید از بوفه روزانه
خرید از بوفه هفتگی (5 روز)
استانبولی با گوشت
خوراک سوفله بادمجان
عدس پلو با گوشت و كشمش
خوراک قارچ و گوشت
چلوجوجه كباب
خوراک نخود فرنگی با مرغ
چلو خورش قیمه بادمجان
 سبزی پلو با تن ماهی
باقلاپلو با گوشت
خوراک مرغ سوخاری
سبزی پلو با ماهی قزل آلا
خوراک فلافل
چلومرغ مخلوط
خوراک كوفته تبریزی
خوراک ماكارونی با قارچ
خوراک شنیسل مرغ
چلو خورش كرفس
چلو خورش قورمه سبزی
خوراک سالاد الویه
باقلاپلو با مرغ
ساندویچ فلافل
لوبیا پلو باگوشت
لوبیا پلو با گوشت
خوراک سالاد ماكاروني
چلوكباب كوبیده نگيني
خوراک كشك بادمجان
چلوكوبيده مرغ(1 سيخ)
استانبولی پلو با گوشت
زرشك پلوبامرغ
خوراک چیكن استروگانوف
خوراک جوجه چینی
خوراک شنیسل مرغ
سبزی پلوباگوشت
لوبیا پلو با مرغ
خوراک مرغ و قارچ
خوراک کوکو سبزی
خوراک کوردن بلو
خوراک كتلت
دمی لوبیا چشم بلبلی با گوشت
خوراک بادمجان(یتیمچه)
خوراک سیب زمینی و تخم مرغ
چلو خورش فسنجان(مرغ)
سبزی پلو ماهی
خوراک دلمه فلفل
ساندویچ مرغ و قارچ
چلوتن ماهی
چلو خورش آلواسفناج
خوراک واویشکا
خوراک میرزاقاسمی
نودالیت 2عدد (طبخ نشده -پخت توسط دانشجو)
 خوراک بادمجان(یتیمچه)
خوراک گراتن با سبزیجات

In [800]:
def total_nember(row):
    return row['ReceiveWithCard']+row['ReceiveWithCode'] + row['DontReceive']
result['Reservation'] = result.apply(total_nember,axis=1)

In [801]:
result

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation
0,1402/11/1,فاطمیه,شام,خوراک کوکو سیب زمینی,زن,72,0,0,khabgah,72
1,1402/11/1,فاطمیه,شام,سبزی پلو با تن ماهی,زن,882,0,0,khabgah,882
2,1402/11/1,فاطمیه,ناهار,خوراک آبگوشت,زن,94,0,0,khabgah,94
3,1402/11/1,فاطمیه,ناهار,چلوكباب كوبیده,زن,375,0,0,khabgah,375
4,1402/11/1,ساختمان 6,شام,خوراک کوکو سیب زمینی,مرد_x000D_\n,45,0,0,khabgah,45
...,...,...,...,...,...,...,...,...,...,...
3043,1402/11/9,کشاورزی,شام,خوراک گراتن با سبزیجات,زن,177,0,0,khabgah,177
3044,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,زن,192,0,0,daneshgah,192
3045,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,مرد_x000D_\n,177,0,0,daneshgah,177
3046,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,زن,329,0,0,daneshgah,329
3047,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,مرد_x000D_\n,336,0,0,daneshgah,336

In [803]:
result = result[result['Reservation']> 3]

In [804]:
result = result.reset_index(drop=True)

In [805]:
def delete_definition(x):
    sep = '('
    stripped = x.split(sep, 1)[0]
    return stripped
result['FoodName'] = result['FoodName'].apply(delete_definition)

In [806]:
result['FoodName'].nunique()

63

In [807]:
result.reset_index(drop=True)

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation
0,1402/11/1,فاطمیه,شام,خوراک کوکو سیب زمینی,زن,72,0,0,khabgah,72
1,1402/11/1,فاطمیه,شام,سبزی پلو با تن ماهی,زن,882,0,0,khabgah,882
2,1402/11/1,فاطمیه,ناهار,خوراک آبگوشت,زن,94,0,0,khabgah,94
3,1402/11/1,فاطمیه,ناهار,چلوكباب كوبیده,زن,375,0,0,khabgah,375
4,1402/11/1,ساختمان 6,شام,خوراک کوکو سیب زمینی,مرد_x000D_\n,45,0,0,khabgah,45
...,...,...,...,...,...,...,...,...,...,...
2863,1402/11/9,کشاورزی,شام,خوراک گراتن با سبزیجات,زن,177,0,0,khabgah,177
2864,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,زن,192,0,0,daneshgah,192
2865,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,مرد_x000D_\n,177,0,0,daneshgah,177
2866,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,زن,329,0,0,daneshgah,329
2867,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,مرد_x000D_\n,336,0,0,daneshgah,336

In [808]:
result['FoodName'].unique()

array(['خوراک کوکو سیب زمینی', 'سبزی پلو با تن ماهی', 'خوراک آبگوشت',
       'چلوكباب كوبیده', 'ساندویچ همبرگر', 'چلو خورش مسما بادمجان با مرغ',
       'خوراک ناگت مرغ', 'چلو خورش لوبياسبز', 'چلو خورش قیمه سیب زمینی',
       'خرید از بوفه روزانه', 'خرید از بوفه هفتگی ', 'استانبولی با گوشت',
       'خوراک سوفله بادمجان', 'عدس پلو با گوشت و كشمش',
       'خوراک قارچ و گوشت', 'چلوجوجه كباب', 'خوراک نخود فرنگی با مرغ',
       'چلو خورش قیمه بادمجان', ' سبزی پلو با تن ماهی ',
       'باقلاپلو با گوشت', 'خوراک مرغ سوخاری', 'سبزی پلو با ماهی قزل آلا',
       'خوراک فلافل', 'چلومرغ مخلوط', 'خوراک كوفته تبریزی',
       'خوراک ماكارونی با قارچ', 'خوراک شنیسل مرغ', 'چلو خورش كرفس',
       'چلو خورش قورمه سبزی', 'خوراک سالاد الویه', 'باقلاپلو با مرغ',
       'ساندویچ فلافل', 'لوبیا پلو باگوشت', 'لوبیا پلو با گوشت',
       'خوراک سالاد ماكاروني', 'چلوكباب كوبیده نگيني',
       'خوراک كشك بادمجان', 'چلوكوبيده مرغ', 'استانبولی پلو با گوشت ',
       'زرشك پلوبامرغ', 'خوراک چیكن استروگانوف', 'خوراک جوجه چینی',
       'خوراک شنیسل مرغ ', 'سبزی پلوباگوشت', 'لوبیا پلو با مرغ',
       'خوراک مرغ و قارچ', 'خوراک کوکو سبزی', 'خوراک کوردن بلو',
       'خوراک كتلت', 'دمی لوبیا چشم بلبلی با گوشت',
       'خوراک سیب زمینی و تخم مرغ', 'چلو خورش فسنجان', 'سبزی پلو ماهی',
       'خوراک بادمجان', 'خوراک دلمه فلفل', 'ساندویچ مرغ و قارچ',
       'چلوتن ماهی', 'چلو خورش آلواسفناج', 'خوراک واویشکا',
       'خوراک میرزاقاسمی', 'نودالیت 2عدد ', ' خوراک بادمجان',
       'خوراک گراتن با سبزیجات'], dtype=object)

In [809]:
result = result[result['FoodName'] != 'خرید از بوفه روزانه']
result = result[result['FoodName'] != 'خرید از بوفه هفتگی ']
result = result[result['FoodName'].str.contains('بسته ارزاق') == False]
result = result.reset_index(drop = True)
result['FoodName'].unique()

array(['خوراک کوکو سیب زمینی', 'سبزی پلو با تن ماهی', 'خوراک آبگوشت',
       'چلوكباب كوبیده', 'ساندویچ همبرگر', 'چلو خورش مسما بادمجان با مرغ',
       'خوراک ناگت مرغ', 'چلو خورش لوبياسبز', 'چلو خورش قیمه سیب زمینی',
       'استانبولی با گوشت', 'خوراک سوفله بادمجان',
       'عدس پلو با گوشت و كشمش', 'خوراک قارچ و گوشت', 'چلوجوجه كباب',
       'خوراک نخود فرنگی با مرغ', 'چلو خورش قیمه بادمجان',
       ' سبزی پلو با تن ماهی ', 'باقلاپلو با گوشت', 'خوراک مرغ سوخاری',
       'سبزی پلو با ماهی قزل آلا', 'خوراک فلافل', 'چلومرغ مخلوط',
       'خوراک كوفته تبریزی', 'خوراک ماكارونی با قارچ', 'خوراک شنیسل مرغ',
       'چلو خورش كرفس', 'چلو خورش قورمه سبزی', 'خوراک سالاد الویه',
       'باقلاپلو با مرغ', 'ساندویچ فلافل', 'لوبیا پلو باگوشت',
       'لوبیا پلو با گوشت', 'خوراک سالاد ماكاروني',
       'چلوكباب كوبیده نگيني', 'خوراک كشك بادمجان', 'چلوكوبيده مرغ',
       'استانبولی پلو با گوشت ', 'زرشك پلوبامرغ', 'خوراک چیكن استروگانوف',
       'خوراک جوجه چینی', 'خوراک شنیسل مرغ ', 'سبزی پلوباگوشت',
       'لوبیا پلو با مرغ', 'خوراک مرغ و قارچ', 'خوراک کوکو سبزی',
       'خوراک کوردن بلو', 'خوراک كتلت', 'دمی لوبیا چشم بلبلی با گوشت',
       'خوراک سیب زمینی و تخم مرغ', 'چلو خورش فسنجان', 'سبزی پلو ماهی',
       'خوراک بادمجان', 'خوراک دلمه فلفل', 'ساندویچ مرغ و قارچ',
       'چلوتن ماهی', 'چلو خورش آلواسفناج', 'خوراک واویشکا',
       'خوراک میرزاقاسمی', 'نودالیت 2عدد ', ' خوراک بادمجان',
       'خوراک گراتن با سبزیجات'], dtype=object)

In [810]:
x= 'خورس'
x.replace('خوراك','خوراک')

'خورس'

In [811]:
def select_name(x):
    if x == 'شوید باقلاباگوشت':
        return 'چلو شوید باقلاباگوشت'
    elif x == 'استانبولی با گوشت':
        return 'استانبولی پلو با گوشت'
    elif 'نودالیت' in x:
        return 'خوراک نودلیت'
    elif 'دمی' in x:
        return 'پلو' + x
    elif 'کتلت' in x:
        return 'خوراک کتلت'
    elif 'دلمه' in x:
        return 'خوراک دلمه'
    elif 'خوراك' in x:
        return x.replace('خوراك','خوراک')
    elif 'کنسرو تن ماهی' in x:
        return 'خوراک کنسرو تن ماهی'
    elif 'هواری مرغ' in x:
        return 'خوراک هواری مرغ'
    else:
        return x
result['FoodName'] = result['FoodName'].apply(select_name)

In [812]:
def select_type(x):
    if 'چلو' in x:
        return "berenji"
    elif 'پلو' in x:
        return "berenji"
    elif 'خوراک' in  x:
        return "khorak"
    elif 'ساندویچ' in  x:
        return "khorak"

In [813]:
result['FoodType'] = result['FoodName'].apply(select_type)
result['FoodType'].unique()

array(['khorak', 'berenji'], dtype=object)

In [814]:
result

,DateReserve,RestaurantName,Name,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation,FoodType
0,1402/11/1,فاطمیه,شام,خوراک کوکو سیب زمینی,زن,72,0,0,khabgah,72,khorak
1,1402/11/1,فاطمیه,شام,سبزی پلو با تن ماهی,زن,882,0,0,khabgah,882,berenji
2,1402/11/1,فاطمیه,ناهار,خوراک آبگوشت,زن,94,0,0,khabgah,94,khorak
3,1402/11/1,فاطمیه,ناهار,چلوكباب كوبیده,زن,375,0,0,khabgah,375,berenji
4,1402/11/1,ساختمان 6,شام,خوراک کوکو سیب زمینی,مرد_x000D_\n,45,0,0,khabgah,45,khorak
...,...,...,...,...,...,...,...,...,...,...,...
2800,1402/11/9,کشاورزی,شام,خوراک گراتن با سبزیجات,زن,177,0,0,khabgah,177,khorak
2801,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,زن,192,0,0,daneshgah,192,khorak
2802,1402/11/9,کشاورزی,ناهار,خوراک شنیسل مرغ,مرد_x000D_\n,177,0,0,daneshgah,177,khorak
2803,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,زن,329,0,0,daneshgah,329,berenji
2804,1402/11/9,کشاورزی,ناهار,لوبیا پلو باگوشت,مرد_x000D_\n,336,0,0,daneshgah,336,berenji

In [815]:
def delete__x000D(x):
    return x.replace("_x000D_\n","")
result['Gender']=result['Gender'].apply(delete__x000D)

In [816]:
def convert_gender(x):
    if x == 'زن':
        return 'woman'
    return 'man'
result['Gender'] = result['Gender'].apply(convert_gender)

In [817]:
def fix_meal(x):
    if 'صبحانه' in x:
        return 'breakfast'
    elif 'ناهار' in x:
        return 'lunch'
    elif 'شام' in x:
        return 'dinner'
    return x
result['Meal'] = result['Name'].apply(fix_meal)
result.drop('Name',axis=1,inplace=True)

In [818]:
result

,DateReserve,RestaurantName,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation,FoodType,Meal
0,1402/11/1,فاطمیه,خوراک کوکو سیب زمینی,woman,72,0,0,khabgah,72,khorak,dinner
1,1402/11/1,فاطمیه,سبزی پلو با تن ماهی,woman,882,0,0,khabgah,882,berenji,dinner
2,1402/11/1,فاطمیه,خوراک آبگوشت,woman,94,0,0,khabgah,94,khorak,lunch
3,1402/11/1,فاطمیه,چلوكباب كوبیده,woman,375,0,0,khabgah,375,berenji,lunch
4,1402/11/1,ساختمان 6,خوراک کوکو سیب زمینی,man,45,0,0,khabgah,45,khorak,dinner
...,...,...,...,...,...,...,...,...,...,...,...
2800,1402/11/9,کشاورزی,خوراک گراتن با سبزیجات,woman,177,0,0,khabgah,177,khorak,dinner
2801,1402/11/9,کشاورزی,خوراک شنیسل مرغ,woman,192,0,0,daneshgah,192,khorak,lunch
2802,1402/11/9,کشاورزی,خوراک شنیسل مرغ,man,177,0,0,daneshgah,177,khorak,lunch
2803,1402/11/9,کشاورزی,لوبیا پلو باگوشت,woman,329,0,0,daneshgah,329,berenji,lunch
2804,1402/11/9,کشاورزی,لوبیا پلو باگوشت,man,336,0,0,daneshgah,336,berenji,lunch

In [819]:
from persiantools.jdatetime import JalaliDate
def convert_date_to_weekday(d):
    '''
    d: str, date in format 'yyyy/mm/dd'
    return: int, weekday of the date in range [0, 6]
    '''
    return JalaliDate(*map(int, d.split('/'))).weekday()
convert_date_to_weekday(result['DateReserve'].iloc[0])
result['DayOfWeek'] = result['DateReserve'].map(convert_date_to_weekday)

In [820]:
result

,DateReserve,RestaurantName,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation,FoodType,Meal,DayOfWeek
0,1402/11/1,فاطمیه,خوراک کوکو سیب زمینی,woman,72,0,0,khabgah,72,khorak,dinner,1
1,1402/11/1,فاطمیه,سبزی پلو با تن ماهی,woman,882,0,0,khabgah,882,berenji,dinner,1
2,1402/11/1,فاطمیه,خوراک آبگوشت,woman,94,0,0,khabgah,94,khorak,lunch,1
3,1402/11/1,فاطمیه,چلوكباب كوبیده,woman,375,0,0,khabgah,375,berenji,lunch,1
4,1402/11/1,ساختمان 6,خوراک کوکو سیب زمینی,man,45,0,0,khabgah,45,khorak,dinner,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2800,1402/11/9,کشاورزی,خوراک گراتن با سبزیجات,woman,177,0,0,khabgah,177,khorak,dinner,2
2801,1402/11/9,کشاورزی,خوراک شنیسل مرغ,woman,192,0,0,daneshgah,192,khorak,lunch,2
2802,1402/11/9,کشاورزی,خوراک شنیسل مرغ,man,177,0,0,daneshgah,177,khorak,lunch,2
2803,1402/11/9,کشاورزی,لوبیا پلو باگوشت,woman,329,0,0,daneshgah,329,berenji,lunch,2
2804,1402/11/9,کشاورزی,لوبیا پلو باگوشت,man,336,0,0,daneshgah,336,berenji,lunch,2

In [821]:
def str_to_date(d, gregorian:bool=False) -> JalaliDate:
    out = JalaliDate(*map(int, d.split('/')))
    if gregorian:
        return out.to_gregorian()
    return out

date_map_gregorian = {i: str_to_date(i,True) for i in df['DateReserve'].unique()}
result['DateReserveGregorian'] = result['DateReserve'].map(date_map_gregorian)

date_map_jalali = {i: str_to_date(i) for i in df['DateReserve'].unique()}
result['DateReserve'] = result['DateReserve'].map(date_map_jalali)

result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2805 entries, 0 to 2804
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateReserve           2805 non-null   object
 1   RestaurantName        2805 non-null   object
 2   FoodName              2805 non-null   object
 3   Gender                2805 non-null   object
 4   ReceiveWithCard       2805 non-null   int64
 5   ReceiveWithCode       2805 non-null   int64
 6   DontReceive           2805 non-null   int64
 7   RestaurantType        2805 non-null   object
 8   Reservation           2805 non-null   int64
 9   FoodType              2805 non-null   object
 10  Meal                  2805 non-null   object
 11  DayOfWeek             2805 non-null   int64
 12  DateReserveGregorian  2805 non-null   object
dtypes: int64(5), object(8)
memory usage: 285.0+ KB

In [822]:
result

,DateReserve,RestaurantName,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation,FoodType,Meal,DayOfWeek,DateReserveGregorian
0,1402-11-01,فاطمیه,خوراک کوکو سیب زمینی,woman,72,0,0,khabgah,72,khorak,dinner,1,2024-01-21
1,1402-11-01,فاطمیه,سبزی پلو با تن ماهی,woman,882,0,0,khabgah,882,berenji,dinner,1,2024-01-21
2,1402-11-01,فاطمیه,خوراک آبگوشت,woman,94,0,0,khabgah,94,khorak,lunch,1,2024-01-21
3,1402-11-01,فاطمیه,چلوكباب كوبیده,woman,375,0,0,khabgah,375,berenji,lunch,1,2024-01-21
4,1402-11-01,ساختمان 6,خوراک کوکو سیب زمینی,man,45,0,0,khabgah,45,khorak,dinner,1,2024-01-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,1402-11-09,کشاورزی,خوراک گراتن با سبزیجات,woman,177,0,0,khabgah,177,khorak,dinner,2,2024-01-29
2801,1402-11-09,کشاورزی,خوراک شنیسل مرغ,woman,192,0,0,daneshgah,192,khorak,lunch,2,2024-01-29
2802,1402-11-09,کشاورزی,خوراک شنیسل مرغ,man,177,0,0,daneshgah,177,khorak,lunch,2,2024-01-29
2803,1402-11-09,کشاورزی,لوبیا پلو باگوشت,woman,329,0,0,daneshgah,329,berenji,lunch,2,2024-01-29
2804,1402-11-09,کشاورزی,لوبیا پلو باگوشت,man,336,0,0,daneshgah,336,berenji,lunch,2,2024-01-29

In [823]:
result['RestaurantName']

0          فاطمیه
1          فاطمیه
2          فاطمیه
3          فاطمیه
4       ساختمان 6
          ...
2800      کشاورزی
2801      کشاورزی
2802      کشاورزی
2803      کشاورزی
2804      کشاورزی
Name: RestaurantName, Length: 2805, dtype: object

In [824]:
from bs4 import BeautifulSoup
from holiday import Holiday, HolidayCalculator
holidays = []
for i in [1401,1402,1403]:
    with open(f"date/date_{i}.html", 'r') as file:
        file_content = file.read()
        soup = BeautifulSoup(file_content, 'html.parser')
        h = Holiday(soup)
        holidays_year = h.get_holidays(add_noroze=True, add_thursday=True)
        holidays.extend(holidays_year)
holidays

[JalaliDate(1401, 1, 1, Doshanbeh),
 JalaliDate(1401, 1, 2, Seshanbeh),
 JalaliDate(1401, 1, 3, Chaharshanbeh),
 JalaliDate(1401, 1, 4, Panjshanbeh),
 JalaliDate(1401, 1, 5, Jomeh),
 JalaliDate(1401, 1, 12, Jomeh),
 JalaliDate(1401, 1, 13, Shanbeh),
 JalaliDate(1401, 1, 19, Jomeh),
 JalaliDate(1401, 1, 26, Jomeh),
 JalaliDate(1401, 2, 2, Jomeh),
 JalaliDate(1401, 2, 3, Shanbeh),
 JalaliDate(1401, 2, 9, Jomeh),
 JalaliDate(1401, 2, 13, Seshanbeh),
 JalaliDate(1401, 2, 14, Chaharshanbeh),
 JalaliDate(1401, 2, 16, Jomeh),
 JalaliDate(1401, 2, 23, Jomeh),
 JalaliDate(1401, 2, 30, Jomeh),
 JalaliDate(1401, 3, 6, Jomeh),
 JalaliDate(1401, 3, 13, Jomeh),
 JalaliDate(1401, 3, 14, Shanbeh),
 JalaliDate(1401, 3, 15, Yekshanbeh),
 JalaliDate(1401, 3, 20, Jomeh),
 JalaliDate(1401, 3, 27, Jomeh),
 JalaliDate(1401, 4, 3, Jomeh),
 JalaliDate(1401, 4, 10, Jomeh),
 JalaliDate(1401, 4, 17, Jomeh),
 JalaliDate(1401, 4, 19, Yekshanbeh),
 JalaliDate(1401, 4, 24, Jomeh),
 JalaliDate(1401, 4, 27, Doshanbeh),
 JalaliDate(1401, 4, 31, Jomeh),
 JalaliDate(1401, 5, 7, Jomeh),
 JalaliDate(1401, 5, 14, Jomeh),
 JalaliDate(1401, 5, 16, Yekshanbeh),
 JalaliDate(1401, 5, 17, Doshanbeh),
 JalaliDate(1401, 5, 21, Jomeh),
 JalaliDate(1401, 5, 28, Jomeh),
 JalaliDate(1401, 6, 4, Jomeh),
 JalaliDate(1401, 6, 11, Jomeh),
 JalaliDate(1401, 6, 18, Jomeh),
 JalaliDate(1401, 6, 25, Jomeh),
 JalaliDate(1401, 6, 26, Shanbeh),
 JalaliDate(1401, 7, 1, Jomeh),
 JalaliDate(1401, 7, 3, Yekshanbeh),
 JalaliDate(1401, 7, 5, Seshanbeh),
 JalaliDate(1401, 7, 8, Jomeh),
 JalaliDate(1401, 7, 13, Chaharshanbeh),
 JalaliDate(1401, 7, 15, Jomeh),
 JalaliDate(1401, 7, 22, Jomeh),
 JalaliDate(1401, 7, 29, Jomeh),
 JalaliDate(1401, 8, 6, Jomeh),
 JalaliDate(1401, 8, 13, Jomeh),
 JalaliDate(1401, 8, 20, Jomeh),
 JalaliDate(1401, 8, 27, Jomeh),
 JalaliDate(1401, 9, 4, Jomeh),
 JalaliDate(1401, 9, 11, Jomeh),
 JalaliDate(1401, 9, 18, Jomeh),
 JalaliDate(1401, 9, 25, Jomeh),
 JalaliDate(1401, 10, 2, Jomeh),
 JalaliDate(1401, 10, 6, Seshanbeh),
 JalaliDate(1401, 10, 9, Jomeh),
 JalaliDate(1401, 10, 16, Jomeh),
 JalaliDate(1401, 10, 23, Jomeh),
 JalaliDate(1401, 10, 30, Jomeh),
 JalaliDate(1401, 11, 7, Jomeh),
 JalaliDate(1401, 11, 14, Jomeh),
 JalaliDate(1401, 11, 15, Shanbeh),
 JalaliDate(1401, 11, 21, Jomeh),
 JalaliDate(1401, 11, 22, Shanbeh),
 JalaliDate(1401, 11, 28, Jomeh),
 JalaliDate(1401, 11, 29, Shanbeh),
 JalaliDate(1401, 12, 5, Jomeh),
 JalaliDate(1401, 12, 12, Jomeh),
 JalaliDate(1401, 12, 17, Chaharshanbeh),
 JalaliDate(1401, 12, 19, Jomeh),
 JalaliDate(1401, 12, 26, Jomeh),
 JalaliDate(1401, 12, 29, Doshanbeh),
 JalaliDate(1401, 1, 6, Shanbeh),
 JalaliDate(1401, 1, 7, Yekshanbeh),
 JalaliDate(1401, 1, 8, Doshanbeh),
 JalaliDate(1401, 1, 9, Seshanbeh),
 JalaliDate(1401, 1, 10, Chaharshanbeh),
 JalaliDate(1401, 1, 11, Panjshanbeh),
 JalaliDate(1401, 1, 18, Panjshanbeh),
 JalaliDate(1401, 1, 25, Panjshanbeh),
 JalaliDate(1401, 2, 1, Panjshanbeh),
 JalaliDate(1401, 2, 8, Panjshanbeh),
 JalaliDate(1401, 2, 15, Panjshanbeh),
 JalaliDate(1401, 2, 22, Panjshanbeh),
 JalaliDate(1401, 2, 29, Panjshanbeh),
 JalaliDate(1401, 3, 5, Panjshanbeh),
 JalaliDate(1401, 3, 12, Panjshanbeh),
 JalaliDate(1401, 3, 19, Panjshanbeh),
 JalaliDate(1401, 3, 26, Panjshanbeh),
 JalaliDate(1401, 4, 2, Panjshanbeh),
 JalaliDate(1401, 4, 9, Panjshanbeh),
 JalaliDate(1401, 4, 16, Panjshanbeh),
 JalaliDate(1401, 4, 23, Panjshanbeh),
 JalaliDate(1401, 4, 30, Panjshanbeh),
 JalaliDate(1401, 5, 6, Panjshanbeh),
 JalaliDate(1401, 5, 13, Panjshanbeh),
 JalaliDate(1401, 5, 20, Panjshanbeh),
 JalaliDate(1401, 5, 27, Panjshanbeh),
 JalaliDate(1401, 6, 3, Panjshanbeh),
 JalaliDate(1401, 6, 10, Panjshanbeh),
 JalaliDate(1401, 6, 17, Panjshanbeh),
 JalaliDate(1401, 6, 24, Panjshanbeh),
 JalaliDate(1401, 6, 31, Panjshanbeh),
 JalaliDate(1401, 7, 7, Panjshanbeh),
 JalaliDate(1401, 7, 14, Panjshanbeh),
 JalaliDate(1401, 7, 21, Panjshanbeh),
 JalaliDate(1401, 7, 28, Panjshanbeh),
 JalaliDate(1401, 8, 5, Panjshanbeh),
 JalaliDate(1401, 8, 12, Panjshanbeh),
 JalaliDate(1401, 8, 19, Panjshanbeh),
 JalaliDate(1401, 8, 26, Panjshanbeh),
 JalaliDate(1401, 9, 3, Panjshanbeh),
 JalaliDate(1401, 9, 10, Panjshanbeh),
 JalaliDate(1401, 9, 17, Panjshanbeh),
 JalaliDate(1401, 9, 24, Panjshanbeh),
 JalaliDate(1401, 10, 1, Panjshanbeh),
 JalaliDate(1401, 10, 8, Panjshanbeh),
 JalaliDate(1401, 10, 15, Panjshanbeh),
 JalaliDate(1401, 10, 22, Panjshanbeh),
 JalaliDate(1401, 10, 29, Panjshanbeh),
 JalaliDate(1401, 11, 6, Panjshanbeh),
 JalaliDate(1401, 11, 13, Panjshanbeh),
 JalaliDate(1401, 11, 20, Panjshanbeh),
 JalaliDate(1401, 11, 27, Panjshanbeh),
 JalaliDate(1401, 12, 4, Panjshanbeh),
 JalaliDate(1401, 12, 11, Panjshanbeh),
 JalaliDate(1401, 12, 18, Panjshanbeh),
 JalaliDate(1401, 12, 25, Panjshanbeh),
 JalaliDate(1402, 1, 1, Seshanbeh),
 JalaliDate(1402, 1, 2, Chaharshanbeh),
 JalaliDate(1402, 1, 3, Panjshanbeh),
 JalaliDate(1402, 1, 4, Jomeh),
 JalaliDate(1402, 1, 11, Jomeh),
 JalaliDate(1402, 1, 12, Shanbeh),
 JalaliDate(1402, 1, 13, Yekshanbeh),
 JalaliDate(1402, 1, 18, Jomeh),
 JalaliDate(1402, 1, 23, Chaharshanbeh),
 JalaliDate(1402, 1, 25, Jomeh),
 JalaliDate(1402, 2, 1, Jomeh),
 JalaliDate(1402, 2, 2, Shanbeh),
 JalaliDate(1402, 2, 3, Yekshanbeh),
 JalaliDate(1402, 2, 8, Jomeh),
 JalaliDate(1402, 2, 15, Jomeh),
 JalaliDate(1402, 2, 22, Jomeh),
 JalaliDate(1402, 2, 26, Seshanbeh),
 JalaliDate(1402, 2, 29, Jomeh),
 JalaliDate(1402, 3, 5, Jomeh),
 JalaliDate(1402, 3, 12, Jomeh),
 JalaliDate(1402, 3, 14, Yekshanbeh),
 JalaliDate(1402, 3, 15, Doshanbeh),
 JalaliDate(1402, 3, 19, Jomeh),
 JalaliDate(1402, 3, 26, Jomeh),
 JalaliDate(1402, 4, 2, Jomeh),
 JalaliDate(1402, 4, 8, Panjshanbeh),
 JalaliDate(1402, 4, 9, Jomeh),
 JalaliDate(1402, 4, 16, Jomeh),
 JalaliDate(1402, 4, 23, Jomeh),
 JalaliDate(1402, 4, 30, Jomeh),
 JalaliDate(1402, 5, 5, Panjshanbeh),
 JalaliDate(1402, 5, 6, Jomeh),
 JalaliDate(1402, 5, 13, Jomeh),
 JalaliDate(1402, 5, 20, Jomeh),
 JalaliDate(1402, 5, 27, Jomeh),
 JalaliDate(1402, 6, 3, Jomeh),
 JalaliDate(1402, 6, 10, Jomeh),
 JalaliDate(1402, 6, 15, Chaharshanbeh),
 JalaliDate(1402, 6, 17, Jomeh),
 JalaliDate(1402, 6, 23, Panjshanbeh),
 JalaliDate(1402, 6, 24, Jomeh),
 JalaliDate(1402, 6, 25, Shanbeh),
 JalaliDate(1402, 6, 31, Jomeh),
 JalaliDate(1402, 7, 2, Yekshanbeh),
 JalaliDate(1402, 7, 7, Jomeh),
 JalaliDate(1402, 7, 11, Seshanbeh),
 JalaliDate(1402, 7, 14, Jomeh),
 JalaliDate(1402, 7, 21, Jomeh),
 JalaliDate(1402, 7, 28, Jomeh),
 JalaliDate(1402, 8, 5, Jomeh),
 JalaliDate(1402, 8, 12, Jomeh),
 JalaliDate(1402, 8, 19, Jomeh),
 JalaliDate(1402, 8, 26, Jomeh),
 JalaliDate(1402, 9, 3, Jomeh),
 JalaliDate(1402, 9, 10, Jomeh),
 JalaliDate(1402, 9, 17, Jomeh),
 JalaliDate(1402, 9, 24, Jomeh),
 JalaliDate(1402, 9, 26, Yekshanbeh),
 JalaliDate(1402, 10, 1, Jomeh),
 JalaliDate(1402, 10, 8, Jomeh),
 JalaliDate(1402, 10, 15, Jomeh),
 JalaliDate(1402, 10, 22, Jomeh),
 JalaliDate(1402, 10, 29, Jomeh),
 JalaliDate(1402, 11, 5, Panjshanbeh),
 JalaliDate(1402, 11, 6, Jomeh),
 JalaliDate(1402, 11, 13, Jomeh),
 JalaliDate(1402, 11, 19, Panjshanbeh),
 JalaliDate(1402, 11, 20, Jomeh),
 JalaliDate(1402, 11, 22, Yekshanbeh),
 JalaliDate(1402, 11, 27, Jomeh),
 JalaliDate(1402, 12, 4, Jomeh),
 JalaliDate(1402, 12, 6, Yekshanbeh),
 JalaliDate(1402, 12, 11, Jomeh),
 JalaliDate(1402, 12, 18, Jomeh),
 JalaliDate(1402, 12, 25, Jomeh),
 JalaliDate(1402, 12, 29, Seshanbeh),
 JalaliDate(1402, 1, 5, Shanbeh),
 JalaliDate(1402, 1, 6, Yekshanbeh),
 JalaliDate(1402, 1, 7, Doshanbeh),
 JalaliDate(1402, 1, 8, Seshanbeh),
 JalaliDate(1402, 1, 9, Chaharshanbeh),
 JalaliDate(1402, 1, 10, Panjshanbeh),
 JalaliDate(1402, 1, 17, Panjshanbeh),
 JalaliDate(1402, 1, 24, Panjshanbeh),
 JalaliDate(1402, 1, 31, Panjshanbeh),
 JalaliDate(1402, 2, 7, Panjshanbeh),
 JalaliDate(1402, 2, 14, Panjshanbeh),
 JalaliDate(1402, 2, 21, Panjshanbeh),
 JalaliDate(1402, 2, 28, Panjshanbeh),
 JalaliDate(1402, 3, 4, Panjshanbeh),
 JalaliDate(1402, 3, 11, Panjshanbeh),
 JalaliDate(1402, 3, 18, Panjshanbeh),
 JalaliDate(1402, 3, 25, Panjshanbeh),
 JalaliDate(1402, 4, 1, Panjshanbeh),
 JalaliDate(1402, 4, 15, Panjshanbeh),
 JalaliDate(1402, 4, 22, Panjshanbeh),
 JalaliDate(1402, 4, 29, Panjshanbeh),
 JalaliDate(1402, 5, 12, Panjshanbeh),
 JalaliDate(1402, 5, 19, Panjshanbeh),
 JalaliDate(1402, 5, 26, Panjshanbeh),
 JalaliDate(1402, 6, 2, Panjshanbeh),
 JalaliDate(1402, 6, 9, Panjshanbeh),
 JalaliDate(1402, 6, 16, Panjshanbeh),
 JalaliDate(1402, 6, 30, Panjshanbeh),
 JalaliDate(1402, 7, 6, Panjshanbeh),
 JalaliDate(1402, 7, 13, Panjshanbeh),
 JalaliDate(1402, 7, 20, Panjshanbeh),
 JalaliDate(1402, 7, 27, Panjshanbeh),
 JalaliDate(1402, 8, 4, Panjshanbeh),
 JalaliDate(1402, 8, 11, Panjshanbeh),
 JalaliDate(1402, 8, 18, Panjshanbeh),
 JalaliDate(1402, 8, 25, Panjshanbeh),
 JalaliDate(1402, 9, 2, Panjshanbeh),
 JalaliDate(1402, 9, 9, Panjshanbeh),
 JalaliDate(1402, 9, 16, Panjshanbeh),
 JalaliDate(1402, 9, 23, Panjshanbeh),
 JalaliDate(1402, 9, 30, Panjshanbeh),
 JalaliDate(1402, 10, 7, Panjshanbeh),
 JalaliDate(1402, 10, 14, Panjshanbeh),
 JalaliDate(1402, 10, 21, Panjshanbeh),
 JalaliDate(1402, 10, 28, Panjshanbeh),
 JalaliDate(1402, 11, 12, Panjshanbeh),
 JalaliDate(1402, 11, 26, Panjshanbeh),
 JalaliDate(1402, 12, 3, Panjshanbeh),
 JalaliDate(1402, 12, 10, Panjshanbeh),
 JalaliDate(1402, 12, 17, Panjshanbeh),
 JalaliDate(1402, 12, 24, Panjshanbeh),
 JalaliDate(1403, 1, 1, Chaharshanbeh),
 JalaliDate(1403, 1, 2, Panjshanbeh),
 JalaliDate(1403, 1, 3, Jomeh),
 JalaliDate(1403, 1, 4, Shanbeh),
 JalaliDate(1403, 1, 10, Jomeh),
 JalaliDate(1403, 1, 12, Yekshanbeh),
 JalaliDate(1403, 1, 13, Doshanbeh),
 JalaliDate(1403, 1, 17, Jomeh),
 JalaliDate(1403, 1, 22, Chaharshanbeh),
 JalaliDate(1403, 1, 23, Panjshanbeh),
 JalaliDate(1403, 1, 24, Jomeh),
 JalaliDate(1403, 1, 31, Jomeh),
 JalaliDate(1403, 2, 7, Jomeh),
 JalaliDate(1403, 2, 14, Jomeh),
 JalaliDate(1403, 2, 15, Shanbeh),
 JalaliDate(1403, 2, 21, Jomeh),
 JalaliDate(1403, 2, 28, Jomeh),
 JalaliDate(1403, 3, 4, Jomeh),
 JalaliDate(1403, 3, 11, Jomeh),
 JalaliDate(1403, 3, 14, Doshanbeh),
 JalaliDate(1403, 3, 15, Seshanbeh),
 JalaliDate(1403, 3, 18, Jomeh),
 JalaliDate(1403, 3, 25, Jomeh),
 JalaliDate(1403, 3, 28, Doshanbeh),
 JalaliDate(1403, 4, 1, Jomeh),
 JalaliDate(1403, 4, 5, Seshanbeh),
 JalaliDate(1403, 4, 8, Jomeh),
 JalaliDate(1403, 4, 15, Jomeh),
 JalaliDate(1403, 4, 22, Jomeh),
 JalaliDate(1403, 4, 25, Doshanbeh),
 JalaliDate(1403, 4, 26, Seshanbeh),
 JalaliDate(1403, 4, 29, Jomeh),
 JalaliDate(1403, 5, 5, Jomeh),
 JalaliDate(1403, 5, 12, Jomeh),
 JalaliDate(1403, 5, 19, Jomeh),
 JalaliDate(1403, 5, 26, Jomeh),
 JalaliDate(1403, 6, 2, Jomeh),
 JalaliDate(1403, 6, 4, Yekshanbeh),
 JalaliDate(1403, 6, 9, Jomeh),
 JalaliDate(1403, 6, 12, Doshanbeh),
 JalaliDate(1403, 6, 14, Chaharshanbeh),
 JalaliDate(1403, 6, 16, Jomeh),
 JalaliDate(1403, 6, 22, Panjshanbeh),
 JalaliDate(1403, 6, 23, Jomeh),
 JalaliDate(1403, 6, 30, Jomeh),
 JalaliDate(1403, 6, 31, Shanbeh),
 JalaliDate(1403, 7, 6, Jomeh),
 JalaliDate(1403, 7, 13, Jomeh),
 JalaliDate(1403, 7, 20, Jomeh),
 JalaliDate(1403, 7, 27, Jomeh),
 JalaliDate(1403, 8, 4, Jomeh),
 JalaliDate(1403, 8, 11, Jomeh),
 JalaliDate(1403, 8, 18, Jomeh),
 JalaliDate(1403, 8, 25, Jomeh),
 JalaliDate(1403, 9, 2, Jomeh),
 JalaliDate(1403, 9, 9, Jomeh),
 JalaliDate(1403, 9, 15, Panjshanbeh),
 JalaliDate(1403, 9, 16, Jomeh),
 JalaliDate(1403, 9, 23, Jomeh),
 JalaliDate(1403, 9, 30, Jomeh),
 JalaliDate(1403, 10, 7, Jomeh),
 JalaliDate(1403, 10, 14, Jomeh),
 JalaliDate(1403, 10, 21, Jomeh),
 JalaliDate(1403, 10, 25, Seshanbeh),
 JalaliDate(1403, 10, 28, Jomeh),
 JalaliDate(1403, 11, 5, Jomeh),
 JalaliDate(1403, 11, 9, Seshanbeh),
 JalaliDate(1403, 11, 12, Jomeh),
 JalaliDate(1403, 11, 19, Jomeh),
 JalaliDate(1403, 11, 22, Doshanbeh),
 JalaliDate(1403, 11, 26, Jomeh),
 JalaliDate(1403, 12, 3, Jomeh),
 JalaliDate(1403, 12, 10, Jomeh),
 JalaliDate(1403, 12, 17, Jomeh),
 JalaliDate(1403, 12, 24, Jomeh),
 JalaliDate(1403, 12, 29, Chaharshanbeh),
 JalaliDate(1403, 12, 30, Panjshanbeh),
 JalaliDate(1403, 1, 5, Yekshanbeh),
 JalaliDate(1403, 1, 6, Doshanbeh),
 JalaliDate(1403, 1, 7, Seshanbeh),
 JalaliDate(1403, 1, 8, Chaharshanbeh),
 JalaliDate(1403, 1, 9, Panjshanbeh),
 JalaliDate(1403, 1, 11, Shanbeh),
 JalaliDate(1403, 1, 16, Panjshanbeh),
 JalaliDate(1403, 1, 30, Panjshanbeh),
 JalaliDate(1403, 2, 6, Panjshanbeh),
 JalaliDate(1403, 2, 13, Panjshanbeh),
 JalaliDate(1403, 2, 20, Panjshanbeh),
 JalaliDate(1403, 2, 27, Panjshanbeh),
 JalaliDate(1403, 3, 3, Panjshanbeh),
 JalaliDate(1403, 3, 10, Panjshanbeh),
 JalaliDate(1403, 3, 17, Panjshanbeh),
 JalaliDate(1403, 3, 24, Panjshanbeh),
 JalaliDate(1403, 3, 31, Panjshanbeh),
 JalaliDate(1403, 4, 7, Panjshanbeh),
 JalaliDate(1403, 4, 14, Panjshanbeh),
 JalaliDate(1403, 4, 21, Panjshanbeh),
 JalaliDate(1403, 4, 28, Panjshanbeh),
 JalaliDate(1403, 5, 4, Panjshanbeh),
 JalaliDate(1403, 5, 11, Panjshanbeh),
 JalaliDate(1403, 5, 18, Panjshanbeh),
 JalaliDate(1403, 5, 25, Panjshanbeh),
 JalaliDate(1403, 6, 1, Panjshanbeh),
 JalaliDate(1403, 6, 8, Panjshanbeh),
 JalaliDate(1403, 6, 15, Panjshanbeh),
 JalaliDate(1403, 6, 29, Panjshanbeh),
 JalaliDate(1403, 7, 5, Panjshanbeh),
 JalaliDate(1403, 7, 12, Panjshanbeh),
 JalaliDate(1403, 7, 19, Panjshanbeh),
 JalaliDate(1403, 7, 26, Panjshanbeh),
 JalaliDate(1403, 8, 3, Panjshanbeh),
 JalaliDate(1403, 8, 10, Panjshanbeh),
 JalaliDate(1403, 8, 17, Panjshanbeh),
 JalaliDate(1403, 8, 24, Panjshanbeh),
 JalaliDate(1403, 9, 1, Panjshanbeh),
 JalaliDate(1403, 9, 8, Panjshanbeh),
 JalaliDate(1403, 9, 22, Panjshanbeh),
 JalaliDate(1403, 9, 29, Panjshanbeh),
 JalaliDate(1403, 10, 6, Panjshanbeh),
 JalaliDate(1403, 10, 13, Panjshanbeh),
 JalaliDate(1403, 10, 20, Panjshanbeh),
 JalaliDate(1403, 10, 27, Panjshanbeh),
 JalaliDate(1403, 11, 4, Panjshanbeh),
 JalaliDate(1403, 11, 11, Panjshanbeh),
 JalaliDate(1403, 11, 18, Panjshanbeh),
 JalaliDate(1403, 11, 25, Panjshanbeh),
 JalaliDate(1403, 12, 2, Panjshanbeh),
 JalaliDate(1403, 12, 9, Panjshanbeh),
 JalaliDate(1403, 12, 16, Panjshanbeh),
 JalaliDate(1403, 12, 23, Panjshanbeh)]

In [825]:
result['DateReserve'].unique()

array([JalaliDate(1402, 11, 1, Yekshanbeh),
       JalaliDate(1402, 11, 10, Seshanbeh),
       JalaliDate(1402, 11, 11, Chaharshanbeh),
       JalaliDate(1402, 11, 12, Panjshanbeh),
       JalaliDate(1402, 11, 13, Jomeh), JalaliDate(1402, 11, 14, Shanbeh),
       JalaliDate(1402, 11, 2, Doshanbeh),
       JalaliDate(1402, 11, 21, Shanbeh),
       JalaliDate(1402, 11, 23, Doshanbeh),
       JalaliDate(1402, 11, 24, Seshanbeh),
       JalaliDate(1402, 11, 25, Chaharshanbeh),
       JalaliDate(1402, 11, 26, Panjshanbeh),
       JalaliDate(1402, 11, 28, Shanbeh),
       JalaliDate(1402, 11, 29, Yekshanbeh),
       JalaliDate(1402, 11, 3, Seshanbeh),
       JalaliDate(1402, 11, 30, Doshanbeh),
       JalaliDate(1402, 11, 4, Chaharshanbeh),
       JalaliDate(1402, 11, 5, Panjshanbeh),
       JalaliDate(1402, 11, 6, Jomeh), JalaliDate(1402, 11, 7, Shanbeh),
       JalaliDate(1402, 11, 8, Yekshanbeh),
       JalaliDate(1402, 11, 9, Doshanbeh)], dtype=object)

In [826]:
n = 2
h_map = dict()
for day in result['DateReserve'].unique():
    calculator = HolidayCalculator(holidays, day, have_weekend=False)
    h_map[day] = {
        'HolidayInWeekCount': calculator.get_holidays_this_week(True),
        'HolidayInPrevWeekCount': calculator.get_holidays_this_week(True,'Prev'),
        'HolidayInNextWeekCount': calculator.get_holidays_this_week(True,'Next'),
        # 'HolidayInWeek': calculator.get_holidays_this_week(),
        'NextHoliday': calculator.get_n_next_holiday(n),
        'PreviousHoliday': calculator.get_n_previous_holiday(n)
    }

for i in h_map[result['DateReserve'][0]].keys():
    if i in ['PreviousHoliday', 'NextHoliday']:
        for j in range(n):
            result[f'{i}_{j+1}'] = result['DateReserve'].map(lambda d: h_map[d][i][j])
    else:
        result[i] = result['DateReserve'].map(lambda d: h_map[d][i])

display(pd.DataFrame(h_map).T)
display(result)

,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday,PreviousHoliday
1402-11-01,0,0,0,"[21, 35]","[35, 110]"
1402-11-10,0,0,0,"[12, 26]","[44, 119]"
1402-11-11,0,0,0,"[11, 25]","[45, 120]"
1402-11-12,0,0,0,"[10, 24]","[46, 121]"
1402-11-13,0,0,0,"[9, 23]","[47, 122]"
1402-11-14,0,0,1,"[8, 22]","[48, 123]"
1402-11-02,0,0,0,"[20, 34]","[36, 111]"
1402-11-21,1,0,0,"[1, 15]","[55, 130]"
1402-11-23,1,0,0,"[13, 36]","[1, 57]"
1402-11-24,1,0,0,"[12, 35]","[2, 58]"
1402-11-25,1,0,0,"[11, 34]","[3, 59]"
1402-11-26,1,0,0,"[10, 33]","[4, 60]"
1402-11-28,0,1,1,"[8, 31]","[6, 62]"
1402-11-29,0,1,1,"[7, 30]","[7, 63]"
1402-11-03,0,0,0,"[19, 33]","[37, 112]"
1402-11-30,0,1,1,"[6, 29]","[8, 64]"
1402-11-04,0,0,0,"[18, 32]","[38, 113]"
1402-11-05,0,0,0,"[17, 31]","[39, 114]"
1402-11-06,0,0,0,"[16, 30]","[40, 115]"
1402-11-07,0,0,0,"[15, 29]","[41, 116]"
1402-11-08,0,0,0,"[14, 28]","[42, 117]"
1402-11-09,0,0,0,"[13, 27]","[43, 118]"

,DateReserve,RestaurantName,FoodName,Gender,ReceiveWithCard,ReceiveWithCode,DontReceive,RestaurantType,Reservation,FoodType,Meal,DayOfWeek,DateReserveGregorian,HolidayInWeekCount,HolidayInPrevWeekCount,HolidayInNextWeekCount,NextHoliday_1,NextHoliday_2,PreviousHoliday_1,PreviousHoliday_2
0,1402-11-01,فاطمیه,خوراک کوکو سیب زمینی,woman,72,0,0,khabgah,72,khorak,dinner,1,2024-01-21,0,0,0,21,35,35,110
1,1402-11-01,فاطمیه,سبزی پلو با تن ماهی,woman,882,0,0,khabgah,882,berenji,dinner,1,2024-01-21,0,0,0,21,35,35,110
2,1402-11-01,فاطمیه,خوراک آبگوشت,woman,94,0,0,khabgah,94,khorak,lunch,1,2024-01-21,0,0,0,21,35,35,110
3,1402-11-01,فاطمیه,چلوكباب كوبیده,woman,375,0,0,khabgah,375,berenji,lunch,1,2024-01-21,0,0,0,21,35,35,110
4,1402-11-01,ساختمان 6,خوراک کوکو سیب زمینی,man,45,0,0,khabgah,45,khorak,dinner,1,2024-01-21,0,0,0,21,35,35,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,1402-11-09,کشاورزی,خوراک گراتن با سبزیجات,woman,177,0,0,khabgah,177,khorak,dinner,2,2024-01-29,0,0,0,13,27,43,118
2801,1402-11-09,کشاورزی,خوراک شنیسل مرغ,woman,192,0,0,daneshgah,192,khorak,lunch,2,2024-01-29,0,0,0,13,27,43,118
2802,1402-11-09,کشاورزی,خوراک شنیسل مرغ,man,177,0,0,daneshgah,177,khorak,lunch,2,2024-01-29,0,0,0,13,27,43,118
2803,1402-11-09,کشاورزی,لوبیا پلو باگوشت,woman,329,0,0,daneshgah,329,berenji,lunch,2,2024-01-29,0,0,0,13,27,43,118
2804,1402-11-09,کشاورزی,لوبیا پلو باگوشت,man,336,0,0,daneshgah,336,berenji,lunch,2,2024-01-29,0,0,0,13,27,43,118